Repository gofiber/fiber, pull requests merged in 2020-10, with the labels that each got.

#863 Fix minor issue on cache middleware and add tests
  middleware/cache/cache.go
  middleware/cache/cache_test.go
Labels: Status: In Progress, Status: Under Investigation

#872 🐛 Fix passing partial cookie to csrf.New
  middleware/csrf/csrf.go
Labels: hacktoberfest

#874 👷 handle error of fmt.Fprintf
  app.go
Labels: hacktoberfest

#875 👷 add app test case to improve coverage
  app_test.go
Labels: hacktoberfest

#876 👷 add ctx test case to improve coverage
  ctx_test.go
Labels: hacktoberfest

#877 👷 fix group.Mount
  app_test.go
  group.go
Labels: hacktoberfest

#924 Refactor proxy middleware and increase coverage
  middleware/proxy/proxy.go
  middleware/proxy/proxy_test.go
Labels: Status: Answered

#900 Add custom store to limiter middleware
  go.mod
  go.sum
  middleware/limiter/README.md
  middleware/limiter/limiter.go
  middleware/limiter/limiter_gen.go
  middleware/limiter/limiter_gen_test.go
  middleware/limiter/limiter_test.go
  middleware/limiter/store.go
Labels: 😎 Nice to Have
