Repository gofiber/fiber, pull requests merged in 2020-06, with the labels that each got.

#451 🩹 fix ctx.Render when using Go Templates
  ctx.go
  ctx_test.go
Labels: Status: Under Investigation

#466 add route support for dot and hyphen
  path.go
  path_test.go
  utils.go
  utils_test.go
Labels: Status: In Progress, Type: Feature

#484 Create SECURITY.md
  SECURITY.md
Labels: Priority: High, Type: Maintenance
