Repository gofiber/fiber, pull requests merged in 2021-09, with the labels that each got.

#1511 Add Chinese translation for internal middleware
  .github/README_zh-CN.md
Labels: 📒 Documentation

#1517 🩹 Fix: corrects ipv6 loopback ip shown on UI
  app.go
  helpers_test.go
  prefork_test.go
Labels: ☢️ Bug

#1522 :bug: Fix Mutability issue of UserContext in fiber.Ctx
  ctx.go
  ctx_test.go
Labels: 🧹 Updates

#1531 🐛 Get unexpected results from cache #1529
  middleware/cache/cache_test.go
  middleware/cache/config.go
Labels: ☢️ Bug

#1530 Add one minute load avg for monitor middleware
  internal/gopsutil/common/common_windows.go
  internal/gopsutil/load/load.go
  internal/gopsutil/load/load_bsd.go
  internal/gopsutil/load/load_darwin.go
  internal/gopsutil/load/load_fallback.go
  internal/gopsutil/load/load_freebsd.go
  internal/gopsutil/load/load_linux.go
  internal/gopsutil/load/load_openbsd.go
  internal/gopsutil/load/load_solaris.go
  internal/gopsutil/load/load_test.go
  internal/gopsutil/load/load_windows.go
  middleware/monitor/README.md
  middleware/monitor/index.html
  middleware/monitor/monitor.go
Labels: ✏️ Feature

#1542 🔥 Feature: limiter middleware new skip options implemented
  middleware/limiter/README.md
  middleware/limiter/config.go
  middleware/limiter/limiter.go
  middleware/limiter/limiter_test.go
Labels: ✏️ Feature, 🧹 Updates

#1513 ✨ support logging color for custom logging formats
  middleware/logger/config.go
Labels: ✏️ Feature

#1551 Translated some sentences for ja-version
  .github/README_ja.md
Labels: 📒 Documentation
