Repository gofiber/fiber, pull requests merged in 2021-08, with the labels that each got.

#1464 Fix: Fiber Client does multiple requests when using Timeout() and MaxRedirectsCount() #1457
  client.go
Labels: ☢️ Bug

#1446 [Logger]: add tag for response header
  ctx.go
  ctx_test.go
  middleware/logger/README.md
  middleware/logger/logger.go
  middleware/logger/logger_test.go
Labels: ✏️ Feature

#1471 Fix `route.Path` on copy
  router.go
Labels: ☢️ Bug

#1472 Update README.md
  middleware/session/README.md
Labels: 📒 Documentation

#1474 ♻️ Refactor: Remove use of deprecated functions
  app.go
  utils/bytes_test.go
  utils/common.go
  utils/convert.go
  utils/convert_test.go
  utils/strings.go
Labels: 🧹 Updates

#1489 📝 Update: Add JSONDecoder to config
  app.go
  ctx.go
Labels: ✏️ Feature

#1501 Add test run for go1.17
  .github/workflows/test.yml
  app_test.go
Labels: 🧹 Updates

#1503 Update fasthttp from v1.26 to v1.29
  go.mod
  go.sum
Labels: 🤖 Dependencies

#1343 🔥 Feature: Add encrypt cookies middleware
  middleware/encryptcookie/README.md
  middleware/encryptcookie/config.go
  middleware/encryptcookie/encryptcookie.go
  middleware/encryptcookie/encryptcookie_test.go
  middleware/encryptcookie/utils.go
Labels: ✏️ Feature

#1493 :bug: session should not regenerate the ID in case Get() returned nil
  middleware/session/session_test.go
  middleware/session/store.go
  middleware/session/store_test.go
Labels: 🧹 Updates

#1508 Add Limitations section to README
  .github/README.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
Labels: 📒 Documentation, ✏️ Feature
