Repository gofiber/fiber, pull requests merged in 2021-03, with the labels that each got.

#1229 🐛 Cache Middleware - Race condition in the cache expiration logic
  middleware/cache/cache.go
  middleware/cache/cache_test.go
Labels: 🛠 In Progress

#1235 Fix session middleware
  go.sum
  internal/gotiny/LICENSE
  internal/gotiny/decEngine.go
  internal/gotiny/decbase.go
  internal/gotiny/decoder.go
  internal/gotiny/encEngine.go
  internal/gotiny/encbase.go
  internal/gotiny/encoder.go
  internal/gotiny/register.go
  internal/gotiny/unsafe.go
  internal/gotiny/utils.go
  middleware/session/data.go
  middleware/session/session.go
  middleware/session/session_test.go
  middleware/session/store.go
Labels: ☢️ Bug, 💡 Help wanted

#1243 ✨ Add method to get an integer directly from the Ctx params (route params)
  ctx.go
  ctx_test.go
Labels: ✏️ Feature

#1246 Refactor cache middleware to not-use the deprecated methods
  middleware/cache/cache.go
  utils/deprecated.go
Labels: 🧹 Updates

#1248 🐛 fix: deadlock on session
  middleware/session/session.go
  middleware/session/store.go
Labels: ☢️ Bug
