Repository gofiber/fiber, pull requests merged in 2021-10, with the labels that each got.

#1552 📚 Fix language mistakes in Turkish
  .github/README_tr.md
Labels: 📒 Documentation

#1553 :bug: Fix `c.OriginalURL()` changed after `SendFile`
  ctx.go
  ctx_test.go
Labels: ☢️ Bug

#1100 🔥 Add function to override form decoder setting
  ctx.go
  ctx_test.go
Labels: 💭 Under Consideration, 🛠 In Progress, ✏️ Feature

#1538 Fix: static file routing path rewrite.
  app_test.go
  router.go
  router_test.go
Labels: ☢️ Bug

#1554 :ledger: Update Spanish documentation
  .github/README_es.md
Labels: 📒 Documentation

#1555 ♻️ Option to overide form decoder setting - Rename function
  ctx.go
  ctx_test.go
Labels: 🧹 Updates

#1562 Add test case for QueryParser for SetParserDecoder
  ctx_test.go
Labels: 🧹 Updates

#1556 Fix: register static file routing with trailing slash
  app_test.go
  router.go
  router_test.go
Labels: ☢️ Bug
