Repository gofiber/fiber, pull requests merged in 2021-04, with the labels that each got.

#1256 :memo: Doc: Updated broken links for ErrorHandler hyperlink in readme
  .github/README.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
Labels: 📒 Documentation

#1268 :recycle: Removed Printed Warning
  middleware/monitor/README.md
  middleware/monitor/monitor.go
Labels: 🧹 Updates

#1278 ✏️ fix broken links
  .github/README.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
Labels: 📒 Documentation

#1279 📚 Doc: Correct cors to favicon in import statement
  middleware/favicon/README.md
Labels: 📒 Documentation

#1280 🚀 new possibility to escape special routing parameters
  path.go
  path_test.go
Labels: ✏️ Feature

#1282 ✏️ update german translation
  .github/README_de.md
Labels: 📒 Documentation

#1292 [middleware/proxy] add buffer size configuration
  middleware/proxy/config.go
  middleware/proxy/proxy.go
  middleware/proxy/proxy_test.go
Labels: 🧹 Updates

#1288 ✨ Etag middleware support to custom etags
  middleware/etag/etag.go
  middleware/etag/etag_test.go
Labels: ✏️ Feature, 🧹 Updates

#1299 🐛 Print logger's error to stderr if given io.writer failed
  middleware/logger/logger.go
Labels: 🧹 Updates

#1301 🩹 Fix broken Rate Limiter link
  .github/README.md
Labels: 📒 Documentation
