Repository gofiber/fiber, pull requests merged in 2021-07, with the labels that each got.

#1432 🩹 Fix: installation section translation
  .github/README_pt.md
Labels: 📒 Documentation

#1424 Schema parser: use full match instead of strings.HasPrefix
  ctx_test.go
  internal/schema/decoder.go
Labels: 🧹 Updates

#1423 Add support for streaming the request body.
  app.go
  app_test.go
  go.mod
Labels: ✏️ Feature

#1425 Fix: copy the data in buffer instead of using original data.
  middleware/session/session.go
Labels: ☢️ Bug

#1418 🔥 FEATURE: Allow adding App Name to customizing the startup message
  app.go
  app_test.go
Labels: ✏️ Feature

#1428 cookie: add possibility to disable same site attribute
  ctx.go
  ctx_test.go
  helpers.go
Labels: ✏️ Feature

#1442 Fix: typo
  app.go
  internal/isatty/isatty_windows.go
  middleware/cache/cache.go
Labels: 📒 Documentation

#1444 Low priority: small spelling fix in docs
  middleware/recover/README.md
Labels: 📒 Documentation

#1448 Add ${port} logger variable
  ctx.go
  ctx_test.go
  middleware/logger/README.md
  middleware/logger/logger.go
Labels: ✏️ Feature

#1453 ✨ Add ability to specify default value for ParamsInt
  ctx.go
  ctx_test.go
Labels: ✏️ Feature

#1458 🐛 fix parse gzipped body
  ctx.go
  ctx_test.go
Labels: 🧹 Updates

#1461 Fix cache expired test
  middleware/cache/cache_test.go
Labels: 🧹 Updates

#1462 Fix - 🐛 The escape of special characters in route path does not work properly #1454
  router.go
  router_test.go
Labels: ☢️ Bug
