Repository gofiber/fiber, pull requests merged in 2021-12, with the labels that each got.

#1640 fix(middleware/csrf): CookieSameSite default "Lax"
  middleware/csrf/README.md
  middleware/csrf/config.go
Labels: 🧹 Updates

#1620 Add disable html support to monitor middleware.
  middleware/monitor/README.md
  middleware/monitor/config.go
  middleware/monitor/monitor.go
  middleware/monitor/monitor_test.go
Labels: ✏️ Feature

#1645 Improvements for logger middleware
  middleware/logger/config.go
  middleware/logger/logger.go
Labels: 🧹 Updates

#1644 Update goccy/go-json to 0.8.1
  client_test.go
  internal/go-json/cmd/generator/main.go
  internal/go-json/cmd/generator/vm.go.tmpl
  internal/go-json/encoder/code.go
  internal/go-json/encoder/compiler.go
  internal/go-json/encoder/compiler_norace.go
  internal/go-json/encoder/compiler_race.go
  internal/go-json/encoder/context.go
  internal/go-json/encoder/int.go
  internal/go-json/encoder/opcode.go
  internal/go-json/encoder/optype.go
  internal/go-json/encoder/vm/util.go
  internal/go-json/encoder/vm/vm.go
  internal/go-json/encoder/vm_color/util.go
  internal/go-json/encoder/vm_color/vm.go
  internal/go-json/encoder/vm_color_indent/util.go
  internal/go-json/encoder/vm_color_indent/vm.go
  internal/go-json/encoder/vm_indent/util.go
  internal/go-json/encoder/vm_indent/vm.go
  internal/go-json/error.go
Labels: ☢️ Bug

#1646 Add no-color compatibility
  app.go
Labels: 🧹 Updates

#1648 📚 Doc: Change some Chinese translation
  .github/README_zh-CN.md
Labels: 📒 Documentation

#1656 Update README_ko.md
  .github/README_ko.md
Labels: 📒 Documentation

#1653 Update README_ko.md
  .github/README_ko.md
Labels: 📒 Documentation

#1650 Add route naming feature.
  .github/README.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
  app.go
  app_test.go
  client.go
  group.go
  helpers.go
  prefork.go
  router.go
Labels: ✏️ Feature

#1649 🐛 Fix: error handler of app not saved when mounted in group
  app_test.go
  group.go
Labels: ☢️ Bug

#1671 🔥Feature: add function to check if request came from localhost
  ctx.go
  ctx_test.go
Labels: ✏️ Feature

#1673 Fix goccy/go-json for go1.18-beta1.
  internal/go-json/cmd/generator/vm.go.tmpl
  internal/go-json/encoder/decode_rune.go
  internal/go-json/encoder/encoder.go
  internal/go-json/encoder/map112.go
  internal/go-json/encoder/map113.go
  internal/go-json/encoder/opcode.go
  internal/go-json/encoder/string.go
  internal/go-json/encoder/vm/vm.go
  internal/go-json/encoder/vm_color/vm.go
  internal/go-json/encoder/vm_color_indent/vm.go
  internal/go-json/encoder/vm_indent/vm.go
Labels: ☢️ Bug

#1667 🔧 fix(middleware/csrf): unmatched token returns nil error
  middleware/csrf/csrf.go
  middleware/csrf/csrf_test.go
Labels: ☢️ Bug

#1672 Add method the get registered handler count.
  app.go
  app_test.go
Labels: ✏️ Feature

#1674 :bug:fix: rename handlerCount to handlersCount
  app.go
  app_test.go
  group.go
  router.go
Labels: 🧹 Updates

#1679 :pencil:docs(zh-CN): improve Chinese translation
  .github/README_zh-CN.md
Labels: 📒 Documentation

#1680 Fix Indentions for READMEs
  .github/README.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
Labels: 📒 Documentation

#1681 Improve printRoutesMessage
  app.go
Labels: 🧹 Updates

#1678 Add GetRespHeader, GetReqHeaders and TagReqHeaders for logger mw
  ctx.go
  ctx_test.go
  middleware/logger/README.md
  middleware/logger/logger.go
  middleware/logger/logger_test.go
Labels: ✏️ Feature

#1614 Fix using IP ranges in config.TrustedProxies (#1607)
  app.go
  ctx.go
  ctx_test.go
Labels: ☢️ Bug
