Repository gofiber/fiber, pull requests merged in 2021-06, with the labels that each got.

#1355 ✏️fix comments
  middleware/proxy/config.go
Labels: 📒 Documentation

#1351 Update fasthttp version to resolve brotli warnings
  go.mod
  go.sum
Labels: 🏷 Wait for Release

#1358 ✏️add link to third party middlewares of all readmes
  .github/README.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
Labels: 📒 Documentation

#1361 🐛 fix - pprof middleware redirect index page to wrong url #1360
  middleware/pprof/pprof.go
  middleware/pprof/pprof_test.go
Labels: ☢️ Bug

#1364 🚀 Configure proxy.Balancer with custom timeout #1362
  middleware/proxy/README.md
  middleware/proxy/config.go
  middleware/proxy/proxy.go
  middleware/proxy/proxy_test.go
Labels: ✏️ Feature

#1366 Fix session delete when there is one key
  middleware/session/session.go
  middleware/session/session_test.go
  middleware/session/store.go
Labels: ☢️ Bug

#1373 Fixed Grammar
  .github/README_fa.md
Labels: 📒 Documentation

#1368 🔥 Feature: add cache header to show cache status
  middleware/cache/README.md
  middleware/cache/cache.go
  middleware/cache/cache_test.go
  middleware/cache/config.go
Labels: ✏️ Feature

#1381 Improve errors handling
  internal/msgp/errors.go
  internal/uuid/dce.go
  internal/uuid/marshal.go
  internal/uuid/sql.go
  internal/uuid/uuid.go
Labels: 🧹 Updates

#1363 🔥 feat: expiration per session
  middleware/session/README.md
  middleware/session/session.go
  middleware/session/session_test.go
Labels: ✏️ Feature

#1384 🔥 Add Global ViewLayout
  .github/testdata/main.tmpl
  app.go
  ctx.go
  ctx_test.go
Labels: ✏️ Feature

#1387 Expose internal errors.
  error.go
  error_test.go
Labels: 🧹 Updates

#1386 Improved some conditions
  internal/fasttemplate/template.go
  internal/gopsutil/cpu/cpu_linux.go
  internal/gopsutil/net/net_linux.go
  internal/msgp/read_bytes.go
  internal/msgp/write_bytes.go
  internal/schema/cache.go
  internal/tlstest/tls.go
  middleware/cache/cache_test.go
  middleware/logger/logger_test.go
  path.go
  router.go
Labels: 🧹 Updates

#1392 deprecate feature-policy
  helpers.go
Labels: 🧹 Updates

#1402 ✨ Added decompression cases for Body function
  ctx.go
  ctx_test.go
  helpers.go
Labels: ✏️ Feature

#1393 add tls config for http client in proxy middleware
  middleware/proxy/README.md
  middleware/proxy/config.go
  middleware/proxy/proxy.go
  middleware/proxy/proxy_test.go
Labels: ✏️ Feature

#1404 🧹 remove duplicate line in test
  ctx_test.go
Labels: 🧹 Updates

#1405 ✏️ fix [🔑gosec|passing] icon -> README_*.md
  .github/IR-flag.png
  .github/README.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
Labels: 📒 Documentation

#1407 Fix: Session middleware issues
  middleware/session/session.go
  middleware/session/session_test.go
  middleware/session/store.go
  middleware/session/store_test.go
Labels: SessionMW, ☢️ Bug

#1397 🔥 Feature: Add TrustedProxies feature
  app.go
  ctx.go
  ctx_test.go
Labels: ✏️ Feature
