Repository gofiber/fiber, pull requests merged in 2021-05, with the labels that each got.

#1310 🐛 Cache Middleware - Race condition in the cache expiration logic. Round 2
  middleware/cache/cache.go
Labels: 🧹 Updates

#1302 🩹Fix: Startup message doesn't show correct amount of Handlers after mounting
  app.go
  app_test.go
  group.go
Labels: ☢️ Bug

#1314 Use atomic instead of mutex when counting the route handler.
  app.go
  app_test.go
  group.go
  router.go
Labels: 🧹 Updates

#1316 Fix app test parallel
  app.go
  app_test.go
  client.go
  ctx.go
  ctx_test.go
  helpers.go
  helpers_test.go
  router.go
  router_test.go
Labels: ☢️ Bug

#1320 👷 Add testcases for ListenTLS
  app_test.go
Labels: ✏️ Feature, 🧹 Updates

#1326 🔥 Add `PathPrefix` parameter to `filesystem` middleware
  middleware/filesystem/README.md
  middleware/filesystem/filesystem.go
  middleware/filesystem/filesystem_test.go
Labels: ✏️ Feature

#1285 🏗️ chore: enable decoder's ZeroEmpty by default
  ctx.go
  ctx_test.go
Labels: 🧹 Updates

#1335 📚 Change deprecated struct elements
  middleware/limiter/README.md
Labels: 📒 Documentation

#1330 fix pprof redirect path
  middleware/pprof/pprof.go
  middleware/pprof/pprof_test.go
Labels: ☢️ Bug

#1337 feat(middlewares): session keys
  middleware/session/README.md
  middleware/session/data.go
  middleware/session/session.go
  middleware/session/session_test.go
Labels: ✏️ Feature

#1341 🔥 Adding user context
  ctx.go
  ctx_test.go
Labels: ✏️ Feature

#1347 small comment fix
  .github/README.md
Labels: 📒 Documentation

#1159 🔥 Customize the source of session_id
  middleware/session/README.md
  middleware/session/config.go
  middleware/session/session.go
  middleware/session/session_test.go
  middleware/session/store.go
  middleware/session/store_test.go
Labels: ✏️ Feature
