Repository gofiber/fiber, pull requests merged in 2022-06, with the labels that each got.

#1909 Spliting dump request to add Query 🐛 🚩
  app.go
Labels: 🧹 Updates

#1925 :sparkles: v3 (feature): use any as default Message type of Error struct
  app.go
  app_test.go
  ctx.go
  helpers.go
  router.go
Labels: ✏️ Feature, v3

#1911 :construction_worker: ci: actions for MacOS
  .github/workflows/test.yml
Labels: 🧹 Updates

#1949 :memo: docs: flat-square style for readme badges
  .github/README.md
  .github/README_ckb.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
Labels: 📒 Documentation

#1953 Update README_fa.md
  .github/README_fa.md
Labels: 📒 Documentation

#1954 :memo: docs: translate some lines to turkish
  .github/README_tr.md
Labels: 📒 Documentation
