Repository gofiber/fiber, pull requests merged in 2022-09, with the labels that each got.

#1979 :sparkles: v3 (feature): refactor logger middleware
  middleware/logger/README.md
  middleware/logger/config.go
  middleware/logger/default_logger.go
  middleware/logger/logger.go
Labels: ✏️ Feature, 🧹 Updates, v3

#2074 v3: fix logger benchmarks
  middleware/logger/README.md
  middleware/logger/config.go
  middleware/logger/default_logger.go
  middleware/logger/logger.go
Labels: ☢️ Bug, v3

#2055 🐛 [Fix]: unhandle in strictmode
  app_test.go
  helpers.go
  helpers_test.go
Labels: ☢️ Bug

#2077 :bug: bug: fix constraints when to use multiple params
  path.go
  path_test.go
Labels: ☢️ Bug

#1930 :sparkles: v3 (feature): merge Listen methods & ListenConfig
  .github/workflows/test.yml
  app.go
  app_test.go
  client_test.go
  error.go
  hooks_test.go
  listen.go
  listen_test.go
  middleware/pprof/pprof_test.go
  middleware/proxy/proxy_test.go
  prefork.go
  prefork_test.go
Labels: ✏️ Feature, v3

#2081 :broom: update: add methods configuration for cache middleware
  middleware/cache/README.md
  middleware/cache/cache.go
  middleware/cache/cache_test.go
  middleware/cache/config.go
Labels: ✏️ Feature, 🧹 Updates

#2091 fix `ctx.SendStream(io.Reader)` huge memory usage
  ctx.go
  ctx_test.go
Labels: ☢️ Bug

#2041 ✨ v3: Change startup message
  listen.go
  listen_test.go
Labels: 🧹 Updates, v3

#2095 update code comment for helping IDEs
  app.go
  color.go
Labels: 🧹 Updates

#2090 🔥 Update: add timeout context middleware
  middleware/timeout/README.md
  middleware/timeout/timeout.go
  middleware/timeout/timeout_test.go
Labels: 🧹 Updates

#2065 ✨ v3 (feature): new Route method
  app.go
  app_test.go
  group.go
  register.go
  router.go
Labels: ✏️ Feature, v3

#2102 :broom: tidy up: fix linter errors for tests
  app_test.go
  ctx_test.go
  helpers_test.go
  middleware/envvar/envvar_test.go
  middleware/session/session_test.go
Labels: 🧹 Updates

#2101 :bug: fix: same struct parse param failed
  ctx.go
  ctx_test.go
Labels: ☢️ Bug

#2114 Update README.md
  middleware/filesystem/README.md
Labels: 📒 Documentation

#2014 :sparkles: v3 (feature): new redirection methods
  app.go
  client_test.go
  ctx.go
  ctx_interface.go
  ctx_test.go
  error.go
  middleware/expvar/expvar.go
  middleware/pprof/pprof.go
  middleware/redirect/redirect.go
  redirect.go
  redirect_test.go
  router.go
Labels: ✏️ Feature, v3

#2119 :white_check_mark: test: fix Test_Ctx_ParamParser route param
  ctx_test.go
Labels: ☢️ Bug

#2112 :sparkles: feat: Add GetRoutes
  app.go
  app_test.go
Labels: ✏️ Feature

#2127 ✏️ Fix: typos
  middleware/timeout/README.md
Labels: 📒 Documentation

#2128 fix unhandled errors and update code comments to help the IDEs
  app_test.go
  error.go
Labels: 🧹 Updates

#2117 :sparkles: feat: support to set client in proxy mw
  internal/gopsutil/net/net_darwin.go
  middleware/proxy/README.md
  middleware/proxy/config.go
  middleware/proxy/proxy.go
  middleware/proxy/proxy_test.go
Labels: ✏️ Feature

#2027 :sparkles: v3 (enhancement): refactor filesystem middleware with `io/fs`
  middleware/filesystem/README.md
  middleware/filesystem/filesystem.go
  middleware/filesystem/filesystem_test.go
  middleware/filesystem/utils.go
Labels: 🧹 Updates, v3
