Repository gofiber/fiber, pull requests merged in 2022-12, with the labels that each got.

#2247 :memo: middleware/filesystem does not handle url encoded values on it's own
  middleware/filesystem/README.md
  middleware/filesystem/filesystem.go
Labels: 🧹 Updates

#2241 middleware/requestid: mention that the default UUID generator exposes the number of requests made to the server
  middleware/requestid/README.md
  middleware/requestid/config.go
Labels: 📒 Documentation

#2240 🩹 Fix: Unintended overwritten bind variables
  ctx.go
  ctx_test.go
Labels: ☢️ Bug, 🧹 Updates

#2239 optimize: set byteSent log to 0 when use SetBodyStreamWriter
  middleware/logger/logger_test.go
  middleware/logger/tags.go
Labels: 🧹 Updates

#2255 V3: Cleanup
  binder/mapping.go
  client.go
  internal/memory/memory.go
  internal/memory/memory_test.go
  internal/schema/cache.go
  internal/schema/decoder.go
  internal/schema/encoder.go
  middleware/cache/cache.go
  middleware/cache/manager.go
  middleware/csrf/README.md
  middleware/csrf/manager.go
  middleware/limiter/manager.go
  middleware/logger/README.md
  middleware/logger/data.go
  middleware/pprof/README.md
  middleware/recover/recover.go
  middleware/session/data.go
  middleware/timeout/README.md
Labels: 🧹 Updates, v3

#2256 :bug: bug: fix regex constraints that contain comma
  path.go
  path_test.go
Labels: ☢️ Bug

#2243 :adhesive_bandage: Fix: Properly handle error of "net.ParseCIDR" in "(*App).handleTrustedProxy"
  app.go
  ctx.go
  ctx_test.go
Labels: ☢️ Bug

#2265 :memo: docs: replace `1.14` with `1.16` in READMEs
  .github/README.md
  .github/README_ckb.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_uk.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
Labels: 📒 Documentation

#2267 optimize: add more detail error message in serverErrorHandler
  app.go
  app_test.go
Labels: 🧹 Updates

#2261 optimize: latency use lowest time unit in logger middleware
  middleware/logger/logger_test.go
  middleware/logger/tags.go
Labels: 🧹 Updates

#2142 Match function
  path.go
  path_test.go
Labels: ✏️ Feature

#2263 🚀 Feature: Generate msgp tests
  middleware/cache/manager.go
  middleware/cache/manager_msgp.go
  middleware/cache/manager_msgp_test.go
  middleware/csrf/manager.go
  middleware/csrf/manager_msgp.go
  middleware/csrf/manager_msgp_test.go
  middleware/limiter/manager.go
  middleware/limiter/manager_msgp.go
  middleware/limiter/manager_msgp_test.go
  middleware/session/data.go
Labels: 🧹 Updates

#2269 🚀 v3 Feature: Make app.Test accept a time.Duration timeout
  app.go
  app_test.go
  middleware/compress/compress_test.go
  middleware/pprof/pprof_test.go
  middleware/proxy/proxy_test.go
Labels: 🧹 Updates

#2228 feat: add ShutdownWithTimeout function
  app.go
  app_test.go
Labels: ✏️ Feature
