Repository gofiber/fiber, pull requests merged in 2022-11, with the labels that each got.

#2176 :sparkles: v3 (feature): router interface changes
  app.go
  app_test.go
  group.go
  register.go
  router.go
  router_test.go
Labels: ✏️ Feature, v3

#2179 🚀 [Feature]: Allow optional params with route constraints
  path.go
  path_test.go
Labels: ✏️ Feature

#2178 :construction_worker: ci: replace snyk with govulncheck
  .github/workflows/snyk.yml
  .github/workflows/vulncheck.yml
Labels: 🧹 Updates

#2022 ✨ v3 (feature): new mounting system
  app.go
  group.go
  hooks_test.go
  mount.go
  mount_test.go
  router.go
Labels: ✏️ Feature, v3

#2186 📝 Update README_zh-CN.md
  .github/README_zh-CN.md
Labels: 📒 Documentation

#2194 Add URL prefix to pprof middleware
  middleware/pprof/README.md
  middleware/pprof/config.go
  middleware/pprof/pprof.go
  middleware/pprof/pprof_test.go
Labels: ✏️ Feature

#2199 :bug: bug: fix naming of routes inside groups
  app.go
  app_test.go
  group.go
  router.go
  router_test.go
Labels: ☢️ Bug

#2107 Feat: Register custom methods
  app.go
  app_test.go
  ctx.go
  group.go
  helpers.go
  router.go
Labels: ✏️ Feature

#2203 Update HTTP status codes
  helpers.go
  utils/http.go
Labels: 🧹 Updates

#2211 README: update list of third-party library licenses
  .github/README.md
Labels: 📒 Documentation

#2213 Add korean translate in Installation section
  .github/README_ko.md
Labels: 📒 Documentation

#2205 :sparkles: feature: add multiple-prefix support to app.Use() and group.Use()
  app.go
  app_test.go
  group.go
Labels: ✏️ Feature

#2204 :broom: update: replace UnsafeBytes util with suggested way
  utils/convert.go
Labels: 🧹 Updates

#2207 Fix and optimize memory storage
  internal/memory/memory.go
  internal/storage/memory/memory.go
Labels: 🧹 Updates

#2215 ctx: make Secure() also report whether a secure connection was established to a trusted proxy
  ctx.go
Labels: 🧹 Updates

#2217 ctx: simplify Protocol()
  ctx.go
Labels: 🧹 Updates

#2220 v3: router: return status 501 instead of 400 on unknown method
  ctx_test.go
  router.go
Labels: 🧹 Updates, v3

#2221 Track Configured Values
  app.go
  helpers.go
  mount_test.go
Labels: 🧹 Updates

#2219 :sparkles: Add callback function for middleware/logger
  middleware/logger/config.go
  middleware/logger/logger.go
  middleware/logger/logger_test.go
Labels: ✏️ Feature

#2188 :sparkles: Add customTags in logger middleware Config
  .github/README.md
  .github/README_ckb.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
  internal/fasttemplate/LICENSE
  internal/fasttemplate/template.go
  internal/fasttemplate/unsafe.go
  internal/fasttemplate/unsafe_gae.go
  middleware/logger/README.md
  middleware/logger/config.go
  middleware/logger/data.go
  middleware/logger/logger.go
  middleware/logger/logger_test.go
  middleware/logger/tags.go
  middleware/logger/template_chain.go
Labels: ✏️ Feature

#2224 :memo: Update middleware/logger docs
  middleware/logger/README.md
Labels: 📒 Documentation

#2225 Improve interface for custom logger func
  ctx.go
  ctx_test.go
  go.mod
  helpers.go
  hooks_test.go
  internal/bytebufferpool/LICENSE
  internal/bytebufferpool/bytebuffer.go
  internal/bytebufferpool/pool.go
  middleware/etag/etag.go
  middleware/logger/README.md
  middleware/logger/config.go
  middleware/logger/logger.go
  middleware/logger/logger_test.go
  middleware/logger/tags.go
Labels: 🧹 Updates

#2227 :bug: bug: fix mounting when mount prefix is `/`
  mount.go
  mount_test.go
Labels: ☢️ Bug
