Repository gofiber/fiber, pull requests merged in 2022-07, with the labels that each got.

#1961 :recycle:delete a blank line
  hooks.go
Labels: 🧹 Updates

#1960 fix middleware/session update cookie.
  middleware/session/session.go
Labels: ☢️ Bug, 🔍 Under Investigation

#1945 :memo: docs: new issue templates
  .github/ISSUE_TEMPLATE/---bug.md
  .github/ISSUE_TEMPLATE/---feature.md
  .github/ISSUE_TEMPLATE/---question.md
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/ISSUE_TEMPLATE/question.yaml
Labels: 📒 Documentation

#1951 :broom: client: remove beta warning
  app_test.go
  client.go
Labels: 🧹 Updates

#1943 Logging Middleware - TagLatency doesn't have standard format between modes
  middleware/logger/logger.go
Labels: 💡 Help wanted, ☢️ Bug

#1941 ♻️ refactor: default error handler & example
  app.go
Labels: 🧹 Updates

#1956 add some parameters to config for supporting #1936
  middleware/monitor/README.md
  middleware/monitor/config.go
  middleware/monitor/index.go
  middleware/monitor/monitor_test.go
Labels: ✏️ Feature

#1964 add: params parse
  ctx.go
  ctx_test.go
Labels: ✏️ Feature

#1980 :books: Doc: Translate to Indonesian Awesome List
  .github/README_id.md
Labels: 📒 Documentation

#1983 Closes #1931 "🤗 How to get path param before a custom verb?"
  middleware/proxy/proxy_test.go
  path.go
  path_test.go
Labels: ☢️ Bug
