Repository gofiber/fiber, pull requests merged in 2022-05, with the labels that each got.

#1880 ♻️ reduce duplicate in Get method
  app.go
Labels: 😎 Nice to Have, 🧹 Updates

#1881 :bug: Fix expiration time in cache middleware
  client.go
  middleware/cache/cache.go
  middleware/cache/cache_test.go
Labels: ☢️ Bug

#1891 fixed typo
  .github/README.md
Labels: 📒 Documentation

#1893 :bar_chart: add page title to monitor mw
  middleware/monitor/README.md
  middleware/monitor/config.go
  middleware/monitor/index.go
  middleware/monitor/index.html
  middleware/monitor/monitor.go
  middleware/monitor/monitor_test.go
Labels: ✏️ Feature

#1892 🔥 Feature: Add max size to cache
  middleware/cache/README.md
  middleware/cache/cache.go
  middleware/cache/cache_test.go
  middleware/cache/config.go
  middleware/cache/heap.go
  middleware/cache/manager.go
  middleware/cache/manager_msgp.go
Labels: ✏️ Feature

#1898 :bar_chart: add refresh period to monitor mw
  middleware/monitor/README.md
  middleware/monitor/config.go
  middleware/monitor/index.go
  middleware/monitor/monitor.go
  middleware/monitor/monitor_test.go
Labels: 🧹 Updates

#1919 Refactor favicon middleware, avoid magic numbers.
  middleware/favicon/favicon.go
Labels: 🧹 Updates

#1922 Fix GetLocationFromRoute bug for optional params
  ctx.go
  ctx_test.go
  path.go
Labels: ☢️ Bug
