Repository gofiber/fiber, pull requests merged in 2022-04, with the labels that each got.

#1847 RFC: Return an instance of `*fiber.Error` when no handler found
  app_test.go
  middleware/cache/cache_test.go
  middleware/logger/logger_test.go
  router.go
Labels: 🧹 Updates

#1848 Fix for "🐛 Sub fiber's error handlers not working #1839"
  app.go
  app_test.go
  group.go
Labels: ☢️ Bug

#1853 :sparkles: feature: add AllParams method
  ctx.go
  ctx_test.go
Labels: ✏️ Feature

#1852 :sparkles: feature: add SendFileWithConfig method to ctx
  app.go
  ctx.go
  ctx_test.go
Labels: ✏️ Feature

#1859 :book: fix ListenTLS comment
  app.go
Labels: 📒 Documentation

#1858 :sparkles: feature: support adding queries to RedirectToRoute
  ctx.go
  ctx_test.go
Labels: ✏️ Feature

#1861 Revert ":sparkles: feature: add SendFileWithConfig method to ctx"
  app.go
  ctx.go
  ctx_test.go
Labels: ✏️ Feature

#1875 utils: ConvertToBytes
  utils/README.md
  utils/common.go
  utils/common_test.go
Labels: ✏️ Feature

#1873 Fix cannot process array of values in `application/x-www-form-urlencoded` request
  ctx.go
  ctx_test.go
Labels: 🧹 Updates
