Repository gofiber/fiber, pull requests merged in 2022-10, with the labels that each got.

#2131 📝 docs: Update language count
  .github/README.md
  .github/README_ckb.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
Labels: 📒 Documentation

#2137 fix - agent.Struct fails to unmarshal response since 2.33.0 #2134
  client.go
Labels: ☢️ Bug

#2133 utils: update mime extensions
  utils/http.go
Labels: 🧹 Updates

#2141 :memo: docs: add doc about usage of CSRF and EncryptCookie middlewares.
  middleware/encryptcookie/README.md
Labels: 📒 Documentation

#2130 v3: fix benchmark results related to handler, next
  ctx.go
  router.go
  router_test.go
Labels: ☢️ Bug

#2146 Switch to text/javascript as per RFC9239
  ctx.go
  ctx_test.go
  helpers.go
  utils/http.go
Labels: 🧹 Updates

#2150 Update ReadmeID
  .github/README_id.md
Labels: 📒 Documentation

#2156 🐛 Fix: Reset d.Data instead of deleting keys in it
  middleware/session/data.go
Labels: ☢️ Bug

#2153 :bug: fix: solve data race in middleware/proxy's test
  middleware/proxy/proxy.go
Labels: ☢️ Bug

#2157 style: update logger's comment
  middleware/logger/logger.go
Labels: 📒 Documentation

#2154 🩹 Fix: handle multiple X-Forwarded header
  ctx.go
  ctx_test.go
Labels: ☢️ Bug

#2158 🚀 Make IP validation 2x faster
  ctx.go
  ctx_test.go
  utils/ips.go
  utils/ips_test.go
Labels: 🧹 Updates

#2162 Improve memory storage
  internal/memory/memory.go
  internal/memory/memory_test.go
  internal/storage/memory/config.go
  internal/storage/memory/memory.go
  internal/storage/memory/memory_test.go
  middleware/limiter/limiter_fixed.go
  middleware/limiter/limiter_sliding.go
  utils/time.go
  utils/time_test.go
Labels: 🧹 Updates

#2164 [Bug] Fix query string parameter pass to fiber context
  app.go
Labels: ♻ Wait for Response

#2148 :bug: fix: multi-byte AppName displays confusion
  go.mod
  go.sum
  internal/colorable/LICENSE
  internal/colorable/colorable_appengine.go
  internal/colorable/colorable_others.go
  internal/colorable/colorable_windows.go
  internal/colorable/noncolorable.go
  internal/isatty/LICENSE
  internal/isatty/isatty_bsd.go
  internal/isatty/isatty_others.go
  internal/isatty/isatty_plan9.go
  internal/isatty/isatty_solaris.go
  internal/isatty/isatty_tcgets.go
  internal/isatty/isatty_windows.go
  listen.go
  middleware/logger/logger.go
Labels: ☢️ Bug

#2159 🚀 [Feature]: Cache-Control: no-cache
  middleware/cache/README.md
  middleware/cache/cache.go
  middleware/cache/cache_test.go
Labels: ✏️ Feature

#2120 :bug: bug: improve mounting behavior
  .github/testdata2/bruh.tmpl
  app.go
  app_test.go
  ctx.go
  ctx_test.go
  group.go
  hooks.go
  hooks_test.go
  internal/template/html/html.go
  mount.go
  mount_test.go
  router.go
Labels: ☢️ Bug, 🧹 Updates

#2173 ✏️ Fix: comment typo
  middleware/session/store.go
Labels: 📒 Documentation

#2172 :wastebasket: deprecate: go 1.14 & go 1.15 support deprecation
  .github/README.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
  .github/workflows/test.yml
  app_test.go
  client.go
  client_test.go
  ctx.go
  ctx_test.go
  internal/gopsutil/common/common.go
  internal/gopsutil/load/load_linux.go
  internal/gopsutil/net/net_linux.go
  internal/gopsutil/process/process_linux.go
  internal/msgp/file_port.go
  internal/template/utils/utils.go
  listen.go
  middleware/basicauth/basicauth_test.go
  middleware/cache/cache_test.go
  middleware/compress/compress_test.go
  middleware/envvar/envvar_test.go
  middleware/etag/etag_test.go
  middleware/expvar/expvar_test.go
  middleware/favicon/favicon.go
  middleware/limiter/limiter_test.go
  middleware/logger/logger_test.go
  middleware/monitor/monitor_test.go
  middleware/pprof/pprof_test.go
  middleware/proxy/proxy_test.go
  mount_test.go
  prefork_test.go
  router_test.go
Labels: 🧹 Updates, ❗ BreakingChange

#2144 - update Locals function to accept interface{} key
  ctx.go
Labels: 🧹 Updates

#2184 v3 (deps): update to use gofiber/utils/v2
  app.go
  bind.go
  binder/cookie.go
  binder/form.go
  binder/header.go
  binder/json.go
  binder/mapping.go
  binder/query.go
  binder/resp_header.go
  client.go
  ctx.go
  ctx_test.go
  go.mod
  go.sum
  helpers_test.go
  internal/memory/memory.go
  internal/memory/memory_test.go
  internal/storage/memory/memory.go
  internal/storage/memory/memory_test.go
  middleware/adaptor/adopter.go
  middleware/basicauth/basicauth.go
  middleware/basicauth/config.go
  middleware/cache/cache.go
  middleware/cache/cache_test.go
  middleware/cache/config.go
  middleware/csrf/config.go
  middleware/csrf/csrf_test.go
  middleware/csrf/manager.go
  middleware/limiter/limiter_fixed.go
  middleware/limiter/limiter_sliding.go
  middleware/proxy/proxy.go
  middleware/proxy/proxy_test.go
  middleware/requestid/config.go
  middleware/session/config.go
  middleware/session/session.go
  middleware/session/store.go
  redirect.go
  router.go
  router_test.go
Labels: 🤖 Dependencies, v3

#2183 :recycle: Leverage runtime/debug to print the full stack trace info
  middleware/recover/config.go
  middleware/recover/recover.go
Labels: 🧹 Updates
