Repository gofiber/fiber, pull requests merged in 2022-03, with the labels that each got.

#1798 :link: Fix goreportcard & pkg.go.dev links in READMEs
  .github/README.md
  .github/README_ckb.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
  app.go
Labels: 📒 Documentation

#1804 ✏️ Cache middleware: Fix comment typo in manager.go.
  middleware/cache/manager.go
Labels: 📒 Documentation

#1806 🐛 Fix go-json generator.
  internal/go-json/cmd/generator/main.go
Labels: ☢️ Bug

#1808 :robot: deps: bump goccy/go-json to v0.9.5
  internal/go-json/decoder/map.go
  internal/go-json/decoder/stream.go
  internal/go-json/decoder/string.go
  internal/go-json/decoder/unmarshal_json.go
Labels: 🤖 Dependencies

#1809 :zap: Optimize App.buildTree()
  router.go
  router_test.go
Labels: 🧹 Updates

#1807 ✨ Cache middleware: Store e2e headers.
  middleware/cache/README.md
  middleware/cache/cache.go
  middleware/cache/cache_test.go
  middleware/cache/config.go
  middleware/cache/manager.go
  middleware/cache/manager_msgp.go
Labels: ✏️ Feature

#1777 :sparkles: feature: add initial support for hooks
  app.go
  group.go
  hooks.go
  hooks_test.go
  router.go
Labels: ✏️ Feature

#1813 🩹 Fix limiter middleware db connection
  middleware/limiter/limiter_fixed.go
Labels: ☢️ Bug, 🔍 Under Investigation

#1819 :arrow_up: add go1.18 to tests and docs
  .github/README.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
Labels: 🧹 Updates

#1831 Change name to get URL from
  ctx.go
  ctx_test.go
Labels: ✏️ Feature

#1818 :adhesive_bandage: Allow parsing of square bracket query param
  ctx.go
  ctx_test.go
Labels: ✏️ Feature

#1832 :up: bump goccy/go-json to 0.9.6
  internal/go-json/decoder/int.go
  internal/go-json/decoder/stream.go
  internal/go-json/decoder/string.go
  internal/go-json/encoder/compiler_norace.go
  internal/go-json/encoder/compiler_race.go
Labels: 🤖 Dependencies

#1833 :bug: utils: fix EqualFold and docs
  utils/bytes.go
  utils/bytes_test.go
  utils/strings.go
  utils/strings_test.go
Labels: 🔍 Under Investigation, 🧹 Updates
