Repository gofiber/fiber, pull requests merged in 2022-01, with the labels that each got.

#1682 :pencil:docs: add emoji for limitations
  .github/README.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
Labels: 📒 Documentation

#1689 Update Turkish translation
  .github/README_tr.md
Labels: 📒 Documentation

#1691 📝docs: fix ID translation typo
  .github/README_id.md
Labels: 📒 Documentation

#1698 🩹 Fix: Add `csrf_` to default encrypt cookie exception (#1631)
  middleware/encryptcookie/README.md
  middleware/encryptcookie/config.go
Labels: ☢️ Bug

#1701 :sparkles:feat: add function NewErrors to create multiple new errors
  app.go
  app_test.go
Labels: ✏️ Feature

#1702 change json tag for EnablePrintRoutes
  app.go
Labels: 🧹 Updates

#1719 :package: Update goccy/go-json to 0.9.3.
  internal/go-json/decoder/compile.go
  internal/go-json/decoder/invalid.go
Labels: 🤖 Dependencies

#1717 📝 docs: translate some words to bahasa(ID)
  .github/README_id.md
Labels: 📒 Documentation

#1725 :pencil:docs: translate some English to zh-TW
  .github/README_zh-TW.md
Labels: 📒 Documentation

#1693 ✨feature: Pass all locals to ctx.Render
  app.go
  ctx.go
  ctx_test.go
Labels: ✏️ Feature

#1713 :fire: Feature: Add Route() method like Chi router.
  app.go
  app_test.go
  group.go
  router.go
Labels: ✏️ Feature

#1721 :fire: Feature: Add ReqHeaderParser.
  ctx.go
  ctx_test.go
Labels: ✏️ Feature

#1728 Fix NewErrors() and Improve NewError()
  app.go
  app_test.go
Labels: 🧹 Updates

#1726 :sparkles:feat: add retryIf function to client agent
  client.go
  client_test.go
Labels: ♻ Wait for Response, ✏️ Feature

#1736 :bug: fix: route naming when to use group in group.
  app_test.go
  group.go
Labels: ☢️ Bug

#1737 :sparkles: feature: add Next to Pprof and Expvar middlewares.
  middleware/expvar/README.md
  middleware/expvar/config.go
  middleware/expvar/expvar.go
  middleware/expvar/expvar_test.go
  middleware/pprof/README.md
  middleware/pprof/config.go
  middleware/pprof/pprof.go
  middleware/pprof/pprof_test.go
Labels: ✏️ Feature
