Repository gofiber/fiber, pull requests merged in 2022-08, with the labels that each got.

#1977 :sparkles: feature: customizable colors
  app.go
  app_test.go
  color.go
  listen.go
  listen_test.go
  middleware/logger/logger.go
  middleware/logger/logger_test.go
  middleware/logger/utils.go
Labels: ✏️ Feature

#1974 🔥 Add OnPrefork Hooks so you can get the PID of the child process.
  hooks.go
  hooks_test.go
  prefork.go
Labels: ✏️ Feature

#1987 :art: Fix padding around app name in startup message when containing non-ascii characters
  app_test.go
  listen.go
  listen_test.go
Labels: ☢️ Bug

#1994 ci: add go 1.19 to tests
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
Labels: ✏️ Feature, 🧹 Updates

#1995 :bug: bug: fix gopsutil when compiling for bsd
  internal/gopsutil/load/load_bsd.go
Labels: ☢️ Bug

#1982 v3: fix benchmark results
  .github/workflows/test.yml
  ctx.go
  ctx_test.go
  helpers.go
  router.go
  router_test.go
Labels: ☢️ Bug, 🧹 Updates, v3

#1997 fix infinitely `app.Test`
  app.go
  app_test.go
Labels: ☢️ Bug

#2000 v3: revert ":sparkles: v3 (feature): use any as default Message type of Error struct (#1925)"
  app.go
  app_test.go
  ctx.go
  helpers.go
  router.go
Labels: ✏️ Feature, 🧹 Updates, v3

#1981 :sparkles: v3 (feature): initial support for binding
  app.go
  bind.go
  bind_test.go
  binder/README.md
  binder/binder.go
  binder/cookie.go
  binder/form.go
  binder/header.go
  binder/json.go
  binder/mapping.go
  binder/mapping_test.go
  binder/query.go
  binder/resp_header.go
  binder/uri.go
  binder/xml.go
  ctx.go
  ctx_interface.go
  ctx_test.go
  error.go
  middleware/logger/logger.go
Labels: ✏️ Feature, v3

#2004 🐛 bug: fix proxy overwrote the wrong scheme
  middleware/proxy/proxy.go
  middleware/proxy/proxy_test.go
Labels: ☢️ Bug

#2013 :memo: docs: gofmt & add missing copyright texts
  app.go
  client.go
  group.go
  internal/fasttemplate/template.go
  internal/fwd/reader.go
  internal/go-ole/guid.go
  internal/gopsutil/common/common.go
  internal/gopsutil/common/common_windows.go
  internal/gopsutil/cpu/cpu_solaris.go
  internal/gopsutil/net/net_linux.go
  internal/gopsutil/net/net_windows.go
  internal/isatty/isatty_windows.go
  internal/msgp/defs.go
  internal/msgp/elsize.go
  internal/msgp/errors.go
  internal/msgp/extension.go
  internal/msgp/file.go
  internal/msgp/read_bytes.go
  internal/msgp/write.go
  internal/msgp/write_bytes.go
  internal/schema/doc.go
  internal/template/html/html.go
  internal/uuid/dce.go
  internal/uuid/hash.go
  internal/uuid/version4.go
  internal/wmi/swbemservices.go
  internal/wmi/wmi.go
  listen.go
  middleware/cache/manager_msgp.go
Labels: 📒 Documentation

#2003 :sparkles: feature: add XML to context.
  app.go
  ctx.go
  ctx_test.go
  utils/xml.go
  utils/xml_test.go
Labels: ✏️ Feature

#1998 :sparkles: feature: route constraints
  helpers.go
  path.go
  path_test.go
Labels: ✏️ Feature, v2

#2015 :memo: docs: make Hooks public
  app.go
  hooks.go
Labels: 📒 Documentation

#2011 ✨ update: tls.ClientHelloInfo in Ctx
  app.go
  ctx.go
  ctx_test.go
  listen.go
Labels: 🧹 Updates

#1972 ✨ v3 (feature): add retry mechanism
  addon/retry/README.md
  addon/retry/config.go
  addon/retry/exponential_backoff.go
  addon/retry/exponential_backoff_test.go
Labels: ✏️ Feature, v3

#2023 Update README.md 📝
  .github/README.md
Labels: 📒 Documentation

#2024 🐛 monitor middleware - fix ignore custom settings
  middleware/monitor/config.go
  middleware/monitor/config_test.go
Labels: ☢️ Bug

#2029 ✨ v3 (enhancement): add `[]byte` support to `utils.EqualFold`
  utils/strings.go
Labels: 🧹 Updates, v3

#2030 v3(enhancement): remove `utils.Trim*` because stdlib has same performance in go1.19
  ctx.go
  helpers.go
  middleware/filesystem/filesystem.go
  middleware/filesystem/utils.go
  path.go
  router.go
  utils/README.md
  utils/assertions_test.go
  utils/bytes.go
  utils/bytes_test.go
  utils/byteseq.go
  utils/byteseq_test.go
  utils/strings.go
  utils/strings_test.go
Labels: 🧹 Updates, v3

#2036 v3(tests): use testify for assertion
  addon/retry/exponential_backoff_test.go
  app_test.go
  bind_test.go
  binder/mapping_test.go
  client_test.go
  ctx_test.go
  error_test.go
  go.mod
  go.sum
  helpers_test.go
  hooks_test.go
  internal/schema/doc.go
  listen_test.go
  middleware/basicauth/basicauth_test.go
  middleware/cache/cache_test.go
  middleware/compress/compress_test.go
  middleware/cors/cors_test.go
  middleware/csrf/csrf_test.go
  middleware/encryptcookie/encryptcookie_test.go
  middleware/etag/etag_test.go
  middleware/expvar/expvar_test.go
  middleware/favicon/favicon_test.go
  middleware/filesystem/filesystem_test.go
  middleware/helmet/helmet_test.go
  middleware/limiter/limiter_test.go
  middleware/logger/logger_test.go
  middleware/pprof/pprof_test.go
  middleware/proxy/proxy_test.go
  middleware/recover/recover_test.go
  middleware/requestid/requestid_test.go
  middleware/session/session.go
  middleware/session/session_test.go
  middleware/session/store_test.go
  middleware/skip/skip_test.go
  path_test.go
  prefork_test.go
  router_test.go
  utils/assertions.go
  utils/assertions_test.go
  utils/bytes_test.go
  utils/byteseq_test.go
  utils/common_test.go
  utils/convert_test.go
  utils/http_test.go
  utils/json_test.go
  utils/strings_test.go
  utils/xml_test.go
Labels: 🧹 Updates, v3

#2037 client: fix `Agent` use after free
  client.go
  client_test.go
Labels: ☢️ Bug

#2020 fixes #2016 - make IP() and IPs() more reliable
  app.go
  ctx.go
  ctx_test.go
Labels: ☢️ Bug, 🧹 Updates

#2010 🐛 bug: Case sensitivity for parameters in GetRouteURL
  ctx.go
  ctx_test.go
Labels: ☢️ Bug

#2034 :bug: bug: make tlsHandler public to use it with Listener
  app.go
  app_test.go
  ctx.go
  ctx_test.go
  listen.go
Labels: ☢️ Bug

#2042 📝 docs: Update Italian readme
  .github/README_it.md
Labels: 📒 Documentation

#2043 docs: change support claim up to go 1.19
  .github/README.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
Labels: 📒 Documentation

#2048 :mag_right: fix unhandled errors
  app_test.go
Labels: 🧹 Updates

#2033 :bug: bug: fix route constraints problems
  helpers.go
  path.go
  path_test.go
Labels: ☢️ Bug

#2052 🚀 [Feature]: middleware/csrf custom extractor
  middleware/csrf/README.md
  middleware/csrf/config.go
  middleware/csrf/csrf.go
  middleware/csrf/csrf_test.go
  middleware/csrf/extractors.go
Labels: ✏️ Feature

#2058 :mag: fix unhandled errors in helpers_test.go
  helpers_test.go
Labels: 🧹 Updates

#2054 🚀 [Feature]: add envvar expose middleware
  .github/README.md
  .github/README_ckb.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
  middleware/envvar/README.md
  middleware/envvar/envvar.go
  middleware/envvar/envvar_test.go
Labels: ✏️ Feature

#2059 :bug: bug: fix regex constraints
  path.go
  path_test.go
Labels: ☢️ Bug

#2060 :bug: bug: remove prefork support from custom listeners
  helpers.go
  helpers_test.go
  listen.go
  listen_test.go
Labels: ☢️ Bug, 🧹 Updates

#2063 Fix csrf middleware behavior with header key lookup
  middleware/csrf/config.go
  middleware/csrf/csrf_test.go
  middleware/csrf/manager.go
Labels: ☢️ Bug
