Repository gofiber/fiber, pull requests merged in 2022-02, with the labels that each got.

#1741 :memo: Fix: typo
  app.go
Labels: 📒 Documentation

#1743 Add 3rd party middleware eozer/fiber_ldapauth
  .github/README.md
  .github/README_ckb.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
Labels: 📒 Documentation

#1742 Doc(limiter): clarify variable name 'expire'
  middleware/limiter/limited_fixed.go
  middleware/limiter/limited_sliding.go
Labels: 🧹 Updates

#1557 🚀 SaveFile to default External Storage
  app.go
  ctx.go
  ctx_test.go
Labels: ✏️ Feature

#1744 Bump github.com/valyala/fasthttp from 1.32.0 to 1.33.0
  go.mod
  go.sum
Labels: 🤖 Dependencies

#1729 Add direct download option when serving static files
  app.go
  app_test.go
  router.go
Labels: ✏️ Feature

#1739 🔥 Feature: Add ability to restart route handling
  ctx.go
  ctx_test.go
Labels: ✏️ Feature

#1749 :bug: fix: mounted app views
  .github/testdata/template/hello_world.gohtml
  app.go
  ctx.go
  ctx_test.go
  group.go
  internal/template/html/html.go
  internal/template/utils/utils.go
Labels: ☢️ Bug

#1755 :bug: add missing json errors
  error.go
  error_test.go
Labels: ☢️ Bug

#1752 Feature: Session Only Cookies
  ctx.go
  ctx_test.go
  middleware/csrf/README.md
  middleware/csrf/config.go
  middleware/csrf/csrf.go
Labels: ✏️ Feature

#1756 :zap: change default gc interval of internal/memory
  internal/memory/memory.go
Labels: 🧹 Updates

#1750 [FEATURE REQUEST] - Add RedirectToRoute and RedirectBack
  app.go
  client_test.go
  ctx.go
  ctx_test.go
  utils/convert.go
  utils/convert_test.go
Labels: ✏️ Feature

#1764 Fix cache mutex lock
  middleware/cache/cache.go
Labels: ☢️ Bug

#1771 🤖 bump: goccy/go-json to 0.9.4
  internal/go-json/encoder/code.go
  internal/go-json/encoder/encoder.go
Labels: 🤖 Dependencies

#1765 Fix: incorrect scheme on proxy.Do (#1762)
  middleware/proxy/proxy.go
  middleware/proxy/proxy_test.go
Labels: ☢️ Bug

#1775 fix: `utils.Trim` should trim all string content
  utils/strings.go
  utils/strings_test.go
Labels: ☢️ Bug

#1768 🩹 fix: backwards incompatible change to fiber.Error
  app.go
  app_test.go
Labels: ☢️ Bug

#1776 :memo: docs: add SSE example
  .github/README.md
  .github/README_ckb.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
Labels: 📒 Documentation

#1779 fix: utils.TrimBytes should trim all content
  utils/bytes.go
  utils/bytes_test.go
  utils/strings.go
  utils/strings_test.go
Labels: ☢️ Bug

#1780 📝 docs: translate some words to bahasa(ID)
  .github/README_id.md
Labels: 📒 Documentation

#1784 Fix for "Why net.Addr is fiber.testAddr, not *net.TCPAddr?🤗 #1574"
  ctx_test.go
  helpers.go
  helpers_test.go
Labels: ☢️ Bug

#1790 Fixing a mistake of the comment in the limiter package
  middleware/limiter/config.go
Labels: 📒 Documentation

#1788 Restore Original URL of the context after changing it
  ctx.go
  ctx_test.go
  middleware/proxy/proxy.go
  middleware/proxy/proxy_test.go
Labels: ☢️ Bug

#1787 :memo: fix doc inconsistents of storage
  app.go
Labels: 📒 Documentation

#1761 Update TLS Config & Add ListenMutualTLS
  .github/testdata/ca-chain.cert.pem
  app.go
  app_test.go
Labels: ✏️ Feature

#1794 📒 Update readme
  .github/README.md
  .github/README_ckb.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
Labels: 📒 Documentation
