Repository gofiber/fiber, pull requests merged in 2023-05, with the labels that each got.

#2432 :rocket: Consistent way of logging and fix middleware log format
  internal/template/html/html.go
  middleware/cache/config.go
  middleware/csrf/config.go
  middleware/idempotency/idempotency.go
  middleware/limiter/config.go
  middleware/proxy/proxy.go
  middleware/session/config.go
  middleware/timeout/timeout.go
Labels: 🧹 Updates

#2444 🚀 Consistent way of logging and fix middleware log format #2432
  middleware/cache/config.go
  middleware/cors/cors.go
  middleware/csrf/config.go
  middleware/idempotency/idempotency.go
  middleware/limiter/config.go
  middleware/proxy/proxy.go
  middleware/session/config.go
  middleware/timeout/timeout.go
Labels: 🧹 Updates

#2438 [Feature]: Add filesystem config contentTypeCharset support
  docs/api/middleware/filesystem.md
  middleware/filesystem/filesystem.go
  middleware/filesystem/filesystem_test.go
Labels: ✏️ Feature

#2453 :recycle: refactor: merge some external middlewares to core
  .github/README.md
  .github/README_az.md
  .github/README_ckb.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_uk.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
  docs/api/middleware/adaptor.md
  docs/api/middleware/filesystem.md
  docs/api/middleware/helmet.md
  docs/api/middleware/keyauth.md
  docs/api/middleware/pprof.md
  docs/api/middleware/redirect.md
  docs/api/middleware/rewrite.md
  middleware/adaptor/adaptor.go
  middleware/adaptor/adaptor_test.go
  middleware/helmet/config.go
  middleware/helmet/helmet.go
  middleware/helmet/helmet_test.go
  middleware/keyauth/config.go
  middleware/keyauth/keyauth.go
  middleware/keyauth/keyauth_test.go
  middleware/redirect/config.go
  middleware/redirect/redirect.go
  middleware/redirect/redirect_test.go
  middleware/rewrite/config.go
  middleware/rewrite/rewrite.go
  middleware/rewrite/rewrite_test.go
Labels: 🧹 Updates

#2456 :memo: docs: update README_ru.md
  .github/README_ru.md
Labels: 📒 Documentation

#2462 utils: add Go 1.20+ way of converting string to byte slice
  utils/convert.go
  utils/convert_s2b_new.go
  utils/convert_s2b_old.go
Labels: ✏️ Feature

#2461 middleware/adaptor: allow to convert fiber.Ctx to (net/http).Request
  docs/api/middleware/adaptor.md
  middleware/adaptor/adaptor.go
  middleware/adaptor/adaptor_test.go
Labels: ✏️ Feature, 🧹 Updates

#2463 🐛 Fix mount route positioning
  mount.go
  mount_test.go
Labels: ☢️ Bug

#2465 🚀 Speedup and cleanup "path" testcases and benchmarks
  path_test.go
  path_testcases_test.go
Labels: 🧹 Updates

#2468 utils: add Go 1.20+ way of converting byte slice to string
  utils/convert.go
  utils/convert_b2s_new.go
  utils/convert_b2s_old.go
Labels: ✏️ Feature

#2473 📒 Correcting a syntax error in the README
  .github/README.md
  .github/README_az.md
  .github/README_ckb.md
  .github/README_it.md
  .github/README_uk.md
  .github/README_zh-TW.md
Labels: 📒 Documentation

#2481 fix: reset terminal colors after print routes
  listen.go
Labels: ☢️ Bug

#2488 :bug: fix: treat case for possible timer memory leak
  internal/gopsutil/common/sleep.go
Labels: ☢️ Bug
