Repository gofiber/fiber, pull requests merged in 2023-07, with the labels that each got.

#2540 :adhesive_bandage: Fix: dictpool is not completely gone
  .github/README.md
  .github/README_az.md
  .github/README_ckb.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_uk.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
  ctx.go
  go.mod
  go.sum
Labels: 🧹 Updates

#2549 📝 added documentation about ctx Fresh
  docs/api/ctx.md
Labels: 📒 Documentation

#2552 improved the config section of the middleware readme´s
  docs/api/middleware/adaptor.md
  docs/api/middleware/basicauth.md
  docs/api/middleware/cache.md
  docs/api/middleware/compress.md
  docs/api/middleware/cors.md
  docs/api/middleware/csrf.md
  docs/api/middleware/earlydata.md
  docs/api/middleware/encryptcookie.md
  docs/api/middleware/envvar.md
  docs/api/middleware/etag.md
  docs/api/middleware/expvar.md
  docs/api/middleware/favicon.md
  docs/api/middleware/filesystem.md
  docs/api/middleware/helmet.md
  docs/api/middleware/idempotency.md
  docs/api/middleware/keyauth.md
  docs/api/middleware/limiter.md
  docs/api/middleware/logger.md
  docs/api/middleware/monitor.md
  docs/api/middleware/pprof.md
  docs/api/middleware/proxy.md
  docs/api/middleware/recover.md
  docs/api/middleware/redirect.md
  docs/api/middleware/requestid.md
  docs/api/middleware/rewrite.md
  docs/api/middleware/session.md
  docs/api/middleware/skip.md
  docs/api/middleware/timeout.md
  middleware/session/config.go
Labels: 📒 Documentation

#2554 :memo: docs: fix wrong JSON docs
  docs/api/ctx.md
Labels: ☢️ Bug, 📒 Documentation
