Repository gofiber/fiber, pull requests merged in 2023-09, with the labels that each got.

#2614 Rollback changes to go.mod file
  .github/workflows/auto-labeler.yml
  .github/workflows/benchmark.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linter.yml
  .github/workflows/release-drafter.yml
  .github/workflows/sync-docs.yml
  .github/workflows/test.yml
  .github/workflows/vulncheck.yml
  go.mod
Labels: ☢️ Bug

#2591 Replaced double quotes with backticks in all route parameter strings
  docs/guide/routing.md
  path_testcases_test.go
Labels: 📒 Documentation

#2632 [middleware/filesystem]: Set response code
  middleware/filesystem/filesystem.go
Labels: 🧹 Updates

#2637 🐛 fix(middleware/adaptor): Reduce memory usage by replacing io.ReadAll() with io.Copy()
  middleware/adaptor/adaptor.go
  middleware/adaptor/adaptor_test.go
Labels: ☢️ Bug

#2642 :bug: fix parse ips return invalid in abnormal case
  ctx.go
  ctx_test.go
Labels: ☢️ Bug

#2647 ♻️ Refactor Ctx.Method func to improve code readability
  ctx.go
Labels: 🧹 Updates

#2649 :sparkles: middleware: cors: allow disabling caching in preflight requests
  docs/api/middleware/cors.md
  middleware/cors/cors.go
  middleware/cors/cors_test.go
Labels: ✏️ Feature

#2652 :memo: middleware: cors: update docs to better explain AllowOriginsFunc
  docs/api/middleware/cors.md
Labels: 📒 Documentation, 🧹 Updates

#2650 ctx: change signatures of GetReqHeaders and GetRespHeaders
  ctx.go
  ctx_test.go
  docs/api/ctx.md
  middleware/idempotency/idempotency.go
  middleware/idempotency/response.go
  middleware/idempotency/response_msgp.go
  middleware/logger/tags.go
Labels: 🧹 Updates, ❗ BreakingChange

#2653 refactor: use utils.AssertEqual instead of t.Fatal on some tests
  app_test.go
  ctx_test.go
  middleware/adaptor/adaptor_test.go
  middleware/favicon/favicon_test.go
  middleware/session/session_test.go
  middleware/session/store_test.go
Labels: 🧹 Updates

#2651 :bug: bug: fix PassLocalsToView when bind parameter is nil
  ctx.go
  ctx_test.go
Labels: ☢️ Bug
