Repository gofiber/fiber, pull requests merged in 2023-06, with the labels that each got.

#2484 Fix Sliding Window limiter when SkipSuccessfulRequests/SkipFailedRequests is used.
  middleware/limiter/limiter_sliding.go
  middleware/limiter/limiter_test.go
Labels: ☢️ Bug

#2489 :recycle: Refactor: use c.app.getString instead of string(...)
  ctx.go
Labels: 🧹 Updates

#2477 :bug: bug: fix middleware naming and returned values of group methods
  app.go
  app_test.go
  group.go
  hooks_test.go
  router.go
Labels: ☢️ Bug

#2493 :rocket: Add DisableColors to set the default output format
  docs/api/middleware/logger.md
  middleware/logger/config.go
  middleware/logger/logger.go
  middleware/logger/logger_test.go
Labels: ✏️ Feature

#2496 📚 translate README_fa.md
  .github/README_fa.md
Labels: 📒 Documentation

#2486 🐛fix: update getOffer to consider quality and specificity
  ctx_test.go
  docs/api/ctx.md
  helpers.go
  helpers_test.go
Labels: ☢️ Bug, 🧹 Updates

#2502 Revert "Migrate to Golang official govulncheck action"
  .github/workflows/vulncheck.yml
Labels: 🧹 Updates

#2504 :bug: bug: fix onListen hooks when they are used with prefork mode
  app.go
  hooks_test.go
  listen.go
  prefork.go
Labels: ☢️ Bug

#2505 :memo: docs: update version of html template
  docs/guide/templates.md
Labels: 📒 Documentation, 🧹 Updates

#2475 🚀 FEATURE: add queries function
  ctx.go
  ctx_test.go
  docs/api/ctx.md
Labels: 💭 Under Consideration, 🔍 Under Investigation, ✏️ Feature

#2491 🔥 Feature: add ability to print custom message on startup
  app.go
  docs/guide/hooks.md
  hooks.go
  hooks_test.go
  listen.go
  prefork.go
Labels: ✏️ Feature, ❗ BreakingChange

#2503 Disable caching when running govulncheck
  .github/workflows/linter.yml
  .github/workflows/vulncheck.yml
Labels: 🧹 Updates

#2513 :adhesive_bandage: Fix: default logger color behaviour
  docs/api/middleware/logger.md
  middleware/logger/config.go
Labels: ☢️ Bug

#2514 Fix comment in client.go
  client.go
Labels: 📒 Documentation

#2516 :pencil2: Fix: typo in ctx.md
  docs/api/ctx.md
Labels: 📒 Documentation

#2499 🚀 Add Logger interface and fiberlog
  app.go
  docs/api/log.md
  helpers.go
  hooks.go
  internal/template/html/html.go
  listen.go
  log/default.go
  log/default_test.go
  log/fiberlog.go
  log/fiberlog_test.go
  log/log.go
  middleware/cache/config.go
  middleware/cors/cors.go
  middleware/csrf/config.go
  middleware/idempotency/idempotency.go
  middleware/limiter/config.go
  middleware/proxy/proxy.go
  middleware/session/config.go
  middleware/timeout/timeout.go
  prefork.go
Labels: 🔍 Under Investigation, 🧹 Updates

#2520 Update ctx.md: Add a warning on security implications when using X-Forwarded-For improperly
  docs/api/ctx.md
Labels: 📒 Documentation

#2522 📚 Docs: fix bad documentation on queries function
  docs/api/ctx.md
Labels: ☢️ Bug, 📒 Documentation

#2517 - fixed validation-guide
  docs/guide/validation.md
Labels: 📒 Documentation
