Repository gofiber/fiber, pull requests merged in 2023-12, with the labels that each got.

#2755 🩹 middleware/logger/: log client IP address by default
  docs/api/middleware/logger.md
  middleware/logger/config.go
Labels: 🧹 Updates

#2751 fix: don't constrain middlewares' context-keys to strings :bug:
  docs/api/middleware/basicauth.md
  docs/api/middleware/csrf.md
  docs/api/middleware/keyauth.md
  docs/api/middleware/requestid.md
  middleware/adaptor/adaptor_test.go
  middleware/basicauth/config.go
  middleware/csrf/config.go
  middleware/csrf/csrf.go
  middleware/idempotency/idempotency.go
  middleware/keyauth/config.go
  middleware/requestid/config.go
  middleware/requestid/requestid_test.go
Labels: 🧹 Updates

#2761 📚 Update app.md for indentation
  docs/api/app.md
Labels: 📒 Documentation

#2730 Changing default log output
  docs/api/middleware/logger.md
  middleware/logger/config.go
  middleware/logger/logger.go
  middleware/logger/logger_test.go
Labels: 🧹 Updates

#2771 🩹 Fix: CORS middleware should use the defined AllowedOriginsFunc config when AllowedOrigins is empty
  middleware/cors/cors.go
  middleware/cors/cors_test.go
Labels: ☢️ Bug

#2772 🐛 [Bug]: Adaptator + otelfiber issue #2641
  middleware/adaptor/adaptor.go
  middleware/adaptor/adaptor_test.go
Labels: ☢️ Bug

#2748 🩹🚨 - fix for redirect with query params
  middleware/redirect/redirect.go
  middleware/redirect/redirect_test.go
Labels: ☢️ Bug, ✏️ Feature, 🧹 Updates

#2773 ♻️ logger/middleware colorize logger error message #2593
  docs/api/middleware/logger.md
  middleware/logger/config.go
  middleware/logger/tags.go
Labels: 🧹 Updates
