Repository gofiber/fiber, pull requests merged in 2023-10, with the labels that each got.

#2655 ✨ feat: add Delete method to Store struct in session middleware
  docs/api/middleware/session.md
  middleware/session/store.go
  middleware/session/store_test.go
Labels: ✏️ Feature

#2662 Run gofumpt and goimports
  internal/go-ole/com.go
  internal/go-ole/com_func.go
  internal/go-ole/connect.go
  internal/go-ole/guid.go
  internal/go-ole/idispatch_windows.go
  internal/go-ole/oleutil/connection.go
  internal/go-ole/safearray_func.go
  internal/go-ole/safearray_windows.go
  internal/go-ole/utility.go
  internal/gopsutil/common/binary.go
  internal/gopsutil/common/common.go
  internal/gopsutil/common/common_linux.go
  internal/gopsutil/common/common_windows.go
  internal/gopsutil/common/sleep.go
  internal/gopsutil/cpu/cpu.go
  internal/gopsutil/cpu/cpu_darwin_cgo.go
  internal/gopsutil/cpu/cpu_dragonfly.go
  internal/gopsutil/cpu/cpu_freebsd.go
  internal/gopsutil/cpu/cpu_linux.go
  internal/gopsutil/cpu/cpu_openbsd.go
  internal/gopsutil/cpu/cpu_solaris.go
  internal/gopsutil/cpu/cpu_windows.go
  internal/gopsutil/load/load.go
  internal/gopsutil/load/load_bsd.go
  internal/gopsutil/load/load_darwin.go
  internal/gopsutil/mem/mem_linux.go
  internal/gopsutil/mem/mem_openbsd.go
  internal/gopsutil/mem/mem_windows.go
  internal/gopsutil/net/net.go
  internal/gopsutil/net/net_aix.go
  internal/gopsutil/net/net_linux.go
  internal/gopsutil/net/net_openbsd.go
  internal/gopsutil/net/net_unix.go
  internal/gopsutil/net/net_windows.go
  internal/gopsutil/process/process.go
  internal/gopsutil/process/process_darwin.go
  internal/gopsutil/process/process_darwin_cgo.go
  internal/gopsutil/process/process_fallback.go
  internal/gopsutil/process/process_freebsd.go
  internal/gopsutil/process/process_linux.go
  internal/gopsutil/process/process_openbsd.go
  internal/gopsutil/process/process_posix.go
  internal/gopsutil/process/process_windows.go
  internal/gopsutil/process/process_windows_386.go
  internal/gopsutil/process/process_windows_amd64.go
  internal/gopsutil/process/types_darwin.go
  internal/memory/memory_test.go
  internal/storage/memory/memory_test.go
  internal/wmi/swbemservices.go
  internal/wmi/wmi.go
  listen.go
  middleware/adaptor/adaptor.go
  middleware/adaptor/adaptor_test.go
  path.go
  prefork.go
Labels: 🧹 Updates

#2660 Fix loop variable captured by func literal
  middleware/compress/compress_test.go
  middleware/filesystem/filesystem_test.go
  middleware/pprof/pprof_test.go
Labels: 🧹 Updates

#2664 [filesystem middleware] improve status for SendFile
  middleware/filesystem/filesystem.go
Labels: 🧹 Updates

#2667 📚 [Doc] fix incorrect status code source
  helpers.go
Labels: 📒 Documentation

#2668 :bug: bug: fix nil pointer dereference issue on idempotency middleware
  middleware/idempotency/config.go
Labels: ☢️ Bug

#2675 🩹 Fix: Typo in requestid.md
  docs/api/middleware/requestid.md
Labels: 📒 Documentation

#2676 :bug: bug: fix path checking on route naming
  app.go
  app_test.go
  listen_test.go
Labels: ☢️ Bug

#2686 :bug: bug: fix method validation on route naming
  app.go
  app_test.go
Labels: ☢️ Bug

#2689 🐛 [Bug]: Naming of routes works wrong after mount #2688
  mount_test.go
  router.go
Labels: ☢️ Bug

#2692 📄 docs: enhance csrf.md
  docs/api/middleware/csrf.md
Labels: 📒 Documentation
