Repository gofiber/fiber, pull requests merged in 2023-03, with the labels that each got.

#2353 fix(docs): add missing comma
  middleware/limiter/README.md
Labels: 📒 Documentation

#2357 Fix typo in docs
  docs/partials/routing/handler.md
Labels: 📒 Documentation

#2365 enable benchmark summary for pull requests/ fix auto labeler
  .github/labeler.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/benchmark.yml
Labels: 🧹 Updates

#2152 🚀 [Feature]: SessionOnly when cookie.Expires is 0
  ctx_test.go
  docs/api/middleware/session.md
  middleware/session/config.go
  middleware/session/session.go
Labels: ✏️ Feature

#2368 🐛 [Bug-Fix]: add lock to avoid data race #2360
  internal/storage/memory/memory.go
Labels: ✏️ Feature

#2369 :bug: requestid.Config.ContextKey is interface{}
  docs/api/middleware/requestid.md
  middleware/requestid/config.go
  middleware/requestid/requestid_test.go
Labels: ☢️ Bug

#2371 🚀 [Feature]: middleware/requestid: don't call "Generator" func on existing request ID header
  middleware/requestid/requestid.go
Labels: 🧹 Updates

#2374 :broom: chore: drop go 1.16 support & update dependencies
  .github/README.md
  .github/README_ckb.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_uk.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
  .github/workflows/test.yml
  docs/intro.md
  go.mod
  go.sum
  listen_test.go
  prefork_test.go
Labels: 🧹 Updates, ❗ BreakingChange

#2379 corrected coding typos in MountPath docs section
  docs/api/app.md
Labels: 📒 Documentation

#2382 github: use proper discord invitation link
  .github/SECURITY.md
Labels: 📒 Documentation

#2340 Get mime fallback
  utils/http.go
  utils/http_test.go
Labels: 🧹 Updates

#2384 github/workflows: also run tests with Go 1.19.x
  .github/workflows/test.yml
Labels: 🧹 Updates

#2386 Fix #2383, accepts mimeType
  ctx.go
  ctx_test.go
  helpers.go
  helpers_test.go
Labels: ☢️ Bug

#2391 💊 Change default value of Querybool from true to false.
  ctx.go
  ctx_test.go
  docs/api/ctx.md
Labels: ☢️ Bug

#2393 feat: adding to fac sub domain routing 📝
  docs/extra/faq.md
Labels: 📒 Documentation
