Repository gofiber/fiber, pull requests merged in 2023-02, with the labels that each got.

#2322 :broom: chore: add go 1.20 to ci and readmes
  .github/README.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_uk.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
  .github/testdata/testRoutes.json
  .github/workflows/benchmark.yml
  .github/workflows/linter.yml
  .github/workflows/test.yml
  .github/workflows/vulncheck.yml
  .golangci.yml
  app_test.go
  go.mod
  middleware/encryptcookie/encryptcookie.go
  path.go
  utils/http.go
Labels: 🧹 Updates

#2231 PR: add url for favicon middleware, for correct handling different of…
  middleware/favicon/README.md
  middleware/favicon/favicon.go
  middleware/favicon/favicon_test.go
Labels: 🧹 Updates

#2323 add forward from domain
  middleware/proxy/README.md
  middleware/proxy/proxy.go
  middleware/proxy/proxy_test.go
Labels: ✏️ Feature

#2333 Basic auth alloc
  middleware/basicauth/basicauth.go
  middleware/basicauth/basicauth_test.go
Labels: 🧹 Updates

#2339 fix cors * behavior #2338
  middleware/cors/cors.go
  middleware/cors/cors_test.go
Labels: ☢️ Bug

#2332 Feature: Add DoRedirects, DoTimeout and DoDeadline to Proxy middleware
  middleware/proxy/README.md
  middleware/proxy/proxy.go
  middleware/proxy/proxy_test.go
Labels: ✏️ Feature

#2344 :memo: docs: automated synchronization with `gofiber/docs`
  .github/scripts/sync_docs.sh
  .github/workflows/sync-docs.yml
  docs/api/_category_.json
  docs/api/app.md
  docs/api/client.md
  docs/api/constants.md
  docs/api/ctx.md
  docs/api/fiber.md
  docs/api/middleware/_category_.json
  docs/api/middleware/basicauth.md
  docs/api/middleware/cache.md
  docs/api/middleware/compress.md
  docs/api/middleware/cors.md
  docs/api/middleware/csrf.md
  docs/api/middleware/earlydata.md
  docs/api/middleware/encryptcookie.md
  docs/api/middleware/envvar.md
  docs/api/middleware/etag.md
  docs/api/middleware/expvar.md
  docs/api/middleware/favicon.md
  docs/api/middleware/filesystem.md
  docs/api/middleware/idempotency.md
  docs/api/middleware/limiter.md
  docs/api/middleware/logger.md
  docs/api/middleware/monitor.md
  docs/api/middleware/pprof.md
  docs/api/middleware/proxy.md
  docs/api/middleware/recover.md
  docs/api/middleware/requestid.md
  docs/api/middleware/session.md
  docs/api/middleware/skip.md
  docs/api/middleware/timeout.md
  docs/extra/_category_.json
  docs/extra/benchmarks.md
  docs/extra/faq.md
  docs/guide/_category_.json
  docs/guide/error-handling.md
  docs/guide/faster-fiber.md
  docs/guide/grouping.md
  docs/guide/hooks.md
  docs/guide/routing.md
  docs/guide/templates.md
  docs/guide/validation.md
  docs/intro.md
  docs/partials/routing/handler.md
Labels: 📒 Documentation

#2349 🐛 [Bug-Fix] Fix all inaccessible links in docs
  .github/README.md
  .github/README_ckb.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
Labels: 📒 Documentation
