Repository gofiber/fiber, pull requests merged in 2023-04, with the labels that each got.

#2397 middleware/logger: Fix #2396, data race logger middleware
  middleware/logger/logger.go
  middleware/logger/logger_test.go
Labels: ☢️ Bug

#2407 :rocket: Feature: Public ShutdownWithContext
  app.go
  app_test.go
  docs/api/app.md
Labels: ✏️ Feature

#2367 :bug: [Bug-Fix] add original timeout middleware
  docs/api/middleware/timeout.md
  middleware/timeout/timeout.go
  middleware/timeout/timeout_test.go
Labels: 💭 Under Consideration, ☢️ Bug

#2408 :books: Docs: Fix typos, and make middleware documentation more consistent
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/ISSUE_TEMPLATE/question.yaml
  docs/api/middleware/cache.md
  docs/api/middleware/compress.md
  docs/api/middleware/cors.md
  docs/api/middleware/csrf.md
  docs/api/middleware/earlydata.md
  docs/api/middleware/encryptcookie.md
  docs/api/middleware/envvar.md
  docs/api/middleware/etag.md
  docs/api/middleware/expvar.md
  docs/api/middleware/favicon.md
  docs/api/middleware/filesystem.md
  docs/api/middleware/idempotency.md
  docs/api/middleware/limiter.md
  docs/api/middleware/logger.md
  docs/api/middleware/monitor.md
  docs/api/middleware/pprof.md
  docs/api/middleware/proxy.md
  docs/api/middleware/recover.md
  docs/api/middleware/requestid.md
  docs/api/middleware/session.md
  docs/api/middleware/skip.md
  docs/api/middleware/timeout.md
Labels: 📒 Documentation

#2394 ✨ feat(cors): Added new 'AllowOriginsFunc' function.
  docs/api/middleware/cors.md
  middleware/cors/cors.go
  middleware/cors/cors_test.go
Labels: ✏️ Feature

#2331 🐛 [Bug-Fix]: Mounted subapps don't work correctly if parent app attached …
  app.go
  helpers.go
  mount.go
  mount_test.go
  router.go
Labels: ☢️ Bug, 🛠 In Progress

#2417 📚 Docs: Correct errors in Italian translation
  .github/README_it.md
Labels: 📒 Documentation

#2423 🐛 fix(cors): Changed condition for 'AllowOriginsFunc'
  middleware/cors/cors.go
  middleware/cors/cors_test.go
Labels: ☢️ Bug

#2421 🚀 Improve error handling for net error(s)
  app.go
  app_test.go
Labels: 🧹 Updates
