Repository gofiber/fiber, pull requests merged in 2023-08, with the labels that each got.

#2555 fix: Decompress request body when multi Content-Encoding sent on request headers
  ctx.go
  ctx_test.go
  docs/api/ctx.md
  helpers.go
  helpers_test.go
  middleware/session/session_test.go
Labels: ☢️ Bug

#2558 filesystem: refactor: use `errors.Is` instead of `os.IsNotExist`
  internal/gopsutil/net/net_linux.go
  internal/gopsutil/process/process_posix.go
  middleware/filesystem/filesystem.go
Labels: 🧹 Updates

#2567 📚 Doc: Translate README to Portuguese
  .github/README_pt.md
Labels: 📒 Documentation

#2569 💄 feat(middleware/logger): latency match gin-gonic/gin formatter
  middleware/logger/logger_test.go
  middleware/logger/tags.go
Labels: 🧹 Updates

#2570 🩹 Fix: rename WithTlsConfig method to WithTLSConfig
  docs/api/middleware/proxy.md
  middleware/proxy/proxy.go
  middleware/proxy/proxy_test.go
Labels: 🧹 Updates, ❗ BreakingChange

#2580 🐛 fix(middleware/logger): default latency output format
  middleware/logger/logger.go
  middleware/logger/logger_test.go
Labels: ☢️ Bug

#2584 ♻️ Refactor: Remove redundant nil check
  middleware/cache/cache.go
  middleware/logger/tags.go
Labels: 🧹 Updates

#2588 :broom: chore: add go 1.21 to ci and readmes
  .github/README.md
  .github/README_az.md
  .github/README_de.md
  .github/README_eg.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_uk.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
  .github/workflows/benchmark.yml
  .github/workflows/linter.yml
  .github/workflows/test.yml
  go.mod
  go.sum
Labels: ✏️ Feature

#2560 :fire: add config to enable splitting by comma in parsers
  app.go
  ctx.go
  ctx_test.go
  docs/api/fiber.md
  path_test.go
Labels: ✏️ Feature, ❗ BreakingChange

#2589 📝 Docs: update io/ioutil package to io package
  docs/api/app.md
Labels: 📒 Documentation
