Repository gofiber/fiber, pull requests merged in 2023-11, with the labels that each got.

#2696 fix: changed "Twitter" to "X (Twitter)" in README.md Contribute Section
  .github/CONTRIBUTING.md
  .github/README.md
  .github/README_az.md
  .github/README_ckb.md
  .github/README_de.md
  .github/README_eg.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_uk.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
Labels: 📒 Documentation

#2698 📚 Doc: Add additional information as to why GetReqHeaders returns a map where the values are slices of strings
  docs/api/ctx.md
Labels: 📒 Documentation

#2678 ✨ feat: add support for parameters in content negotiation
  docs/api/ctx.md
  helpers.go
  helpers_fuzz_test.go
  helpers_test.go
Labels: ✏️ Feature

#2709 ⚡ middleware/pprof: improve performance
  middleware/pprof/pprof.go
Labels: 🧹 Updates

#2716 test(limiter): fix intermittent failures
  middleware/limiter/limiter_test.go
Labels: ☢️ Bug, 🧹 Updates

#2704 🔥 Add support for application/problem+json
  client.go
  client_test.go
  ctx.go
  ctx_test.go
  docs/api/ctx.md
Labels: 🧹 Updates

#2726 📄 docs: improve csrf docs
  docs/api/middleware/csrf.md
  middleware/csrf/config.go
  middleware/csrf/csrf_test.go
Labels: 📒 Documentation, 🧹 Updates

#2736 [Bug]: utils.IsIPv4 and net.ParseIP have inconsistent results #2735
  utils/ips.go
  utils/ips_test.go
Labels: ☢️ Bug

#2734 🚨 Test: fix race condition in parallel tests
  ctx_test.go
Labels: ☢️ Bug

#2739 🚨 Test: improve benchmarks for getOffer
  helpers_test.go
Labels: 🧹 Updates

#2740 🚨 Test: race in session middleware tests
  middleware/session/session_test.go
Labels: ☢️ Bug
