Repository gofiber/fiber, pull requests merged in 2023-01, with the labels that each got.

#2280 :broom: :bug: fix some warnings, go-ole on mac os
  internal/go-ole/variant32.go
  internal/go-ole/variant64.go
  internal/go-ole/variant_amd64.go
  internal/go-ole/variant_s390x.go
  internal/gopsutil/common/common_unix.go
  internal/gopsutil/mem/mem.go
  internal/gopsutil/net/net.go
  internal/gopsutil/net/net_darwin.go
  internal/gopsutil/process/process.go
  internal/gopsutil/process/process_darwin.go
  internal/memory/memory.go
  internal/msgp/elsize.go
  internal/msgp/write.go
  internal/schema/encoder.go
Labels: 🧹 Updates

#2282 📝 docs: fix ci badge errors
  .github/README.md
  .github/README_ckb.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_uk.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
Labels: 📒 Documentation

#2283 📝docs(middleware): fix alignment in limiter example
  middleware/limiter/README.md
Labels: 📒 Documentation

#2253 🚀 Feature: Add idempotency middleware
  helpers.go
  middleware/idempotency/README.md
  middleware/idempotency/config.go
  middleware/idempotency/idempotency.go
  middleware/idempotency/idempotency_test.go
  middleware/idempotency/locker.go
  middleware/idempotency/locker_test.go
  middleware/idempotency/response.go
  middleware/idempotency/response_msgp.go
  middleware/idempotency/response_msgp_test.go
Labels: ✏️ Feature

#2298 :bug: bug: fix gopsutil compilation
  internal/gopsutil/mem/mem.go
Labels: ☢️ Bug

#2297 :adhesive_bandage: bug: use `app.getString, app.GetBytes` instead of `utils.UnsafeString, utils.UnsafeBytes` in `ctx.go`
  client_test.go
  ctx.go
Labels: ☢️ Bug

#2299 :broom: chore: make most tests parallel
  app_test.go
  client_test.go
  ctx_test.go
  error_test.go
  helpers.go
  helpers_test.go
  hooks_test.go
  internal/gopsutil/mem/mem_linux.go
  internal/memory/memory_test.go
  internal/storage/memory/memory_test.go
  listen_test.go
  middleware/basicauth/basicauth_test.go
  middleware/compress/compress_test.go
  middleware/cors/cors_test.go
  middleware/csrf/csrf_test.go
  middleware/encryptcookie/encryptcookie_test.go
  middleware/etag/etag_test.go
  middleware/expvar/expvar_test.go
  middleware/favicon/favicon_test.go
  middleware/filesystem/filesystem_test.go
  middleware/limiter/limiter_test.go
  middleware/logger/logger_test.go
  middleware/monitor/config_test.go
  middleware/monitor/monitor_test.go
  middleware/pprof/pprof_test.go
  middleware/proxy/proxy_test.go
  middleware/recover/recover_test.go
  middleware/requestid/requestid_test.go
  middleware/session/session_test.go
  middleware/session/store_test.go
  middleware/skip/skip_test.go
  middleware/timeout/timeout_test.go
  mount_test.go
  path_test.go
  prefork_test.go
  router_test.go
Labels: 🧹 Updates

#2302 📝 docs(filesystem): fix statik filesystem middleware example typo
  middleware/filesystem/README.md
Labels: 📒 Documentation

#2303 📝 Docs: Add discord channel link (ID)
  .github/README_id.md
Labels: 📒 Documentation

#2306 🔥 write integer Query Parser.
  ctx.go
  ctx_test.go
Labels: ✏️ Feature

#2308 🚨 added testcases and minor algorithm improvment
  utils/ips.go
  utils/ips_test.go
Labels: 🧹 Updates

#2312 📚 Doc: Correct the figure link in READMEs
  .github/README.md
  .github/README_ckb.md
  .github/README_de.md
  .github/README_es.md
  .github/README_fa.md
  .github/README_fr.md
  .github/README_he.md
  .github/README_id.md
  .github/README_it.md
  .github/README_ja.md
  .github/README_ko.md
  .github/README_nl.md
  .github/README_pt.md
  .github/README_ru.md
  .github/README_sa.md
  .github/README_tr.md
  .github/README_uk.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
Labels: 📒 Documentation

#2270 🚀 Feature: Add earlydata middleware
  middleware/earlydata/README.md
  middleware/earlydata/config.go
  middleware/earlydata/earlydata.go
  middleware/earlydata/earlydata_test.go
Labels: ✏️ Feature

#2316 openssl rand -base64 32
  middleware/encryptcookie/README.md
Labels: 📒 Documentation

#2314 🚀 Feature: Add earlydata middleware (v2 backport)
  middleware/earlydata/README.md
  middleware/earlydata/config.go
  middleware/earlydata/earlydata.go
  middleware/earlydata/earlydata_test.go
Labels: ✏️ Feature
