Repository gofiber/fiber, pull requests merged in 2024-11, with the labels that each got.

#3196 Bump golangci-lint to v1.62.0
  .github/workflows/linter.yml
  Makefile
  client/hooks_test.go
  client/response_test.go
  ctx_test.go
  log/default.go
  middleware/adaptor/adaptor.go
  middleware/cache/heap.go
  middleware/cache/manager.go
  middleware/limiter/manager.go
  middleware/logger/default_logger.go
  middleware/logger/logger_test.go
  middleware/logger/tags.go
  router.go
Labels: 🧹 Updates, v3

#3197 🩹 fix: Close File After SaveFileToStorage
  ctx.go
Labels: ☢️ Bug, v3

#3204 📚 Doc: Update intro documentation
  docs/intro.md
Labels: 📒 Documentation, v3

#3193 🐛 fix: Improve naming convention for Context returning functions
  bind.go
  client/client_test.go
  ctx.go
  ctx_interface_gen.go
  ctx_test.go
  docs/api/ctx.md
  docs/middleware/timeout.md
  docs/whats_new.md
  middleware/adaptor/adaptor.go
  middleware/adaptor/adaptor_test.go
  middleware/cache/cache_test.go
  middleware/compress/compress.go
  middleware/etag/etag.go
  middleware/expvar/expvar.go
  middleware/idempotency/idempotency.go
  middleware/logger/logger_test.go
  middleware/pprof/pprof.go
  middleware/redirect/redirect.go
  middleware/static/static.go
  middleware/timeout/timeout.go
  middleware/timeout/timeout_test.go
  redirect.go
  redirect_test.go
Labels: 🧹 Updates, v3

#3200 🔥 feat: Add Context Support to RequestID Middleware
  docs/middleware/requestid.md
  middleware/requestid/requestid.go
  middleware/requestid/requestid_test.go
Labels: ✏️ Feature, v3

#3205 📚 Doc: Updates to API documentation and README
  .github/README.md
  docs/api/app.md
  docs/api/bind.md
  docs/api/hooks.md
  docs/api/log.md
  docs/api/redirect.md
Labels: 📒 Documentation, v3

#3206 📚 Doc: Updates to Context documentation
  docs/api/ctx.md
Labels: 📒 Documentation, v3

#3161 🔥 Feature: Add TestConfig to app.Test() for configurable testing
  app.go
  app_test.go
  ctx_test.go
  docs/api/app.md
  docs/whats_new.md
  helpers.go
  helpers_test.go
  middleware/compress/compress_test.go
  middleware/idempotency/idempotency_test.go
  middleware/keyauth/keyauth_test.go
  middleware/logger/logger_test.go
  middleware/pprof/pprof_test.go
  middleware/proxy/proxy_test.go
  middleware/static/static_test.go
Labels: ✏️ Feature, v3

#3171 🐛 fix: Nil pointer dereference with Must Bind binding
  bind.go
  bind_test.go
  binder/README.md
  ctx.go
  docs/api/bind.md
Labels: ☢️ Bug, v3

#3214 🔥 feat: Add support for creating Fiber client from existing FastHTTP client
  client/client.go
  client/client_test.go
  docs/client/rest.md
Labels: ✏️ Feature, v3

#3131 🔥 Feature (v3): Add buffered streaming support
  ctx.go
  ctx_interface_gen.go
  ctx_test.go
  docs/api/ctx.md
  docs/whats_new.md
Labels: ✏️ Feature, v3
