Repository gofiber/fiber, pull requests merged in 2024-02, with the labels that each got.

#2812 🩹[Fix]: Added respects body immutability to ctx.Body() and ctx.BodyRaw() functions.
  ctx.go
  ctx_test.go
Labels: 🧹 Updates, v3

#2807 :sparkles: v3 (feature): add support for custom constraints
  app.go
  app_test.go
  docs/api/app.md
  docs/guide/routing.md
  go.sum
  path.go
  router.go
Labels: ✏️ Feature, v3

#2830 fix(logger): print to stderr if log fails for default format
  middleware/logger/default_logger.go
  middleware/logger/logger_test.go
Labels: 🧹 Updates, v3

#2831 🔥 v3 (feature): Adding GetReqHeaders and GetRespHeaders
  ctx.go
  ctx_interface.go
  ctx_test.go
Labels: ✏️ Feature, v3

#2835 Add go1.22 to test matrix
  .github/workflows/test.yml
Labels: 🧹 Updates, v3

#2838 🚀 Performance improvements
  .github/workflows/linter.yml
  ctx.go
  ctx_test.go
  log/default.go
  log/default_test.go
  middleware/logger/default_logger.go
Labels: 🛠 In Progress, 🧹 Updates, v3

#2841 🎨 Style: Clean up errcheck config
  .golangci.yml
  ctx.go
  ctx_test.go
  log/default.go
  log/default_test.go
  middleware/etag/etag.go
  middleware/logger/default_logger.go
  middleware/session/store.go
  redirect.go
  redirect_test.go
Labels: 🧹 Updates

#2840 ♻️ Refactor: Remove mutex lock in logger middleware
  docs/api/middleware/logger.md
  middleware/logger/default_logger.go
Labels: 🧹 Updates, v3

#2846 🎨 Style!: Update CSRF and Limiter to remove repetitive names
  .golangci.yml
  docs/api/middleware/csrf.md
  middleware/csrf/config.go
  middleware/csrf/csrf.go
  middleware/csrf/extractors.go
  middleware/limiter/config.go
  middleware/limiter/limiter.go
Labels: 🧹 Updates, v3

#2847 Update startup message formatting
  listen.go
  listen_test.go
Labels: 🧹 Updates, v3

#2848 🎨 Style: Add inamedparam linter
  .golangci.yml
  bind.go
  ctx.go
  log/log.go
Labels: 🧹 Updates

#2851 Add CODEOWNERS file
  .github/CODEOWNERS
Labels: 🧹 Updates, v3

#2852 Run tests against Apple M1 platform
  .github/workflows/test.yml
Labels: 🧹 Updates, v3

#2842 Bump golangci-lint to v1.56.1
  .github/workflows/linter.yml
  .golangci.yml
  app_test.go
  client_test.go
  ctx.go
  ctx_test.go
  helpers.go
  helpers_test.go
  hooks_test.go
  listen_test.go
  middleware/adaptor/adaptor.go
  middleware/cache/cache_test.go
  middleware/compress/compress.go
  middleware/compress/compress_test.go
  middleware/encryptcookie/encryptcookie.go
  middleware/etag/etag_test.go
  middleware/favicon/favicon_test.go
  middleware/idempotency/idempotency_test.go
  middleware/keyauth/keyauth_test.go
  middleware/logger/logger_test.go
  middleware/logger/tags.go
  middleware/recover/recover_test.go
  mount_test.go
  redirect_test.go
  router_test.go
Labels: 🧹 Updates, v3

#2867 :books: Doc: Fix code snippet indentation in /docs/api/middleware/keyauth.md
  docs/api/middleware/keyauth.md
Labels: 📒 Documentation, v2

#2868 :books: Doc: Fix code snippet indentation in /docs/api/middleware/keyauth.md
  docs/api/middleware/keyauth.md
Labels: 📒 Documentation, v3

#2863 fix: healthcheck middleware not working with route group
  middleware/healthcheck/healthcheck.go
  middleware/healthcheck/healthcheck_test.go
Labels: ☢️ Bug

#2865 ♻️Refactor: Simplify content negotiation code
  ctx.go
  helpers.go
  helpers_fuzz_test.go
  helpers_test.go
Labels: 🧹 Updates, v3

#2862 Bump golangci-lint to v1.56.2
  .github/workflows/linter.yml
Labels: 🧹 Updates, v3

#2870 ♻️ v3: (refactor): Add parallel benchmarks to adaptor middleware
  middleware/adaptor/adaptor_test.go
Labels: 🧹 Updates

#2875 feat(ci): do not retry flaky tests
  .github/workflows/test.yml
Labels: 🧹 Updates, v3

#2864 V2 to v3 merge
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/feature-request-v3.yaml
  .github/ISSUE_TEMPLATE/maintenance-task-v3.yaml
  .github/PULL_REQUEST_TEMPLATE/v3-changes.md
  .github/pull_request_template.md
  .golangci.yml
  app.go
  app_test.go
  bind_test.go
  ctx_interface.go
  ctx_test.go
  docs/api/app.md
  docs/api/ctx.md
  docs/api/middleware/cors.md
  docs/api/middleware/encryptcookie.md
  docs/api/middleware/healthcheck.md
  docs/api/middleware/logger.md
  docs/api/middleware/timeout.md
  docs/guide/hooks.md
  log/default.go
  log/default_test.go
  middleware/adaptor/adaptor.go
  middleware/adaptor/adaptor_test.go
  middleware/cors/cors.go
  middleware/cors/cors_test.go
  middleware/cors/utils.go
  middleware/cors/utils_test.go
  middleware/csrf/csrf_test.go
  middleware/earlydata/earlydata_test.go
  middleware/encryptcookie/config.go
  middleware/envvar/envvar_test.go
  middleware/favicon/favicon_test.go
  middleware/filesystem/filesystem_test.go
  middleware/healthcheck/config.go
  middleware/healthcheck/healthcheck.go
  middleware/healthcheck/healthcheck_test.go
  middleware/idempotency/idempotency_test.go
  middleware/keyauth/keyauth_test.go
  middleware/logger/config.go
  middleware/logger/logger_test.go
  middleware/logger/tags.go
  middleware/proxy/proxy_test.go
  middleware/redirect/redirect.go
  middleware/redirect/redirect_test.go
  middleware/rewrite/rewrite_test.go
  middleware/session/session_test.go
  middleware/session/store_test.go
  middleware/timeout/timeout.go
  middleware/timeout/timeout_test.go
  mount_test.go
  redirect_test.go
  router.go
  router_test.go
Labels: 🧹 Updates

#2884 :recycle: refactor: Migrate HealthChecker to v3
  docs/api/middleware/healthcheck.md
  middleware/healthcheck/config.go
  middleware/healthcheck/healthcheck.go
  middleware/healthcheck/healthcheck_test.go
Labels: ✏️ Feature, 🧹 Updates, v3
