Repository gofiber/fiber, pull requests merged in 2024-07, with the labels that each got.

#3059 v3: Updates to fiberlog benchmarks and documentation
  docs/api/log.md
  log/default_test.go
  log/fiberlog_test.go
  middleware/cors/cors_test.go
Labels: 📒 Documentation, 🧹 Updates, v3

#3061 v3: Update benchmarks for Logger Middleware
  middleware/logger/logger_test.go
Labels: 🧹 Updates, v3

#3056 v3: Enforce key length for EncryptCookie middleware default functions
  .github/workflows/test.yml
  docs/middleware/encryptcookie.md
  docs/whats_new.md
  middleware/encryptcookie/config.go
  middleware/encryptcookie/encryptcookie_test.go
  middleware/encryptcookie/utils.go
Labels: 🧹 Updates, v3

#3055 :bug: bug: fasthttp errors cause panic when Params is used
  ctx.go
  ctx_test.go
Labels: ☢️ Bug, v3

#3063 v3: Improve and simplify logic of ctx.Next()
  ctx.go
  router_test.go
Labels: 🧹 Updates, v3

#3067 🐛 bug: Use Content-Length for bytesReceived and bytesSent tags in Logger Middleware in v2
  middleware/logger/logger_test.go
  middleware/logger/tags.go
Labels: ☢️ Bug, v2

#3078 v3: Improve performance of Adaptor Middleware
  docs/whats_new.md
  middleware/adaptor/adaptor.go
Labels: 🧹 Updates, v3

#3069 ✨ feat: Add Startup Probe to Healthcheck Middleware
  docs/middleware/healthcheck.md
  docs/whats_new.md
  middleware/healthcheck/config.go
  middleware/healthcheck/healthcheck_test.go
Labels: ✏️ Feature, v3

#3074 :sparkles: feat: Add support for RebuildTree
  docs/api/app.md
  docs/whats_new.md
  router.go
  router_test.go
Labels: ✏️ Feature, v3

#3081 test(ctx_test): Fix race condition
  ctx_test.go
Labels: ☢️ Bug, 🧹 Updates, v3

#3082 v3: Refactor Benchmark Results Workflow
  .github/workflows/benchmark.yml
Labels: 🧹 Updates, v3

#3084 v2: Update benchmark-action to v1.20.3
  .github/workflows/benchmark.yml
Labels: 🧹 Updates, v2

#3066 🐛 bug: Use Content-Length for bytesReceived and bytesSent tags in Logger Middleware
  middleware/logger/default_logger.go
  middleware/logger/logger_test.go
  middleware/logger/tags.go
Labels: ☢️ Bug, v3

#3075 🐛 [Bug]: cache middleware: runtime error: index out of range [0] with length 0
  middleware/cache/cache.go
  middleware/cache/cache_test.go
  middleware/cache/heap.go
  middleware/cache/manager.go
  middleware/cache/manager_test.go
Labels: ☢️ Bug, v3

#3086 v3: Improve performance of helper functions
  .github/workflows/benchmark.yml
  Makefile
  helpers.go
  helpers_test.go
Labels: 🧹 Updates, v3

#3070 :sparkles: feat: Add Max Func to Limiter Middleware
  docs/middleware/limiter.md
  middleware/limiter/config.go
  middleware/limiter/limiter_fixed.go
  middleware/limiter/limiter_sliding.go
  middleware/limiter/limiter_test.go
Labels: ✏️ Feature, v3

#3087 Use utils Trim functions instead of the strings/bytes functions
  client/response.go
  ctx.go
  go.mod
  go.sum
  helpers.go
  middleware/cache/manager_msgp_test.go
  middleware/cors/cors.go
  middleware/csrf/csrf.go
  middleware/csrf/csrf_test.go
  middleware/csrf/manager_msgp_test.go
  middleware/limiter/manager_msgp_test.go
  middleware/pprof/pprof.go
  mount.go
  path.go
  redirect.go
  router.go
Labels: 🧹 Updates, v3

#3090 v3: Improve Performance of c.Body() by 125%
  ctx.go
  ctx_test.go
Labels: 🧹 Updates, v3

#3092 v3: Add Benchmarks for Rewrite Middleware
  middleware/rewrite/rewrite_test.go
Labels: 🧹 Updates, v3

#3093 v3: Consolidate Logic of Handling the Request Body
  ctx.go
Labels: 🧹 Updates, v3
