Repository gofiber/fiber, pull requests merged in 2024-03, with the labels that each got.

#2887 📚 Fix TrustedProxies documentation related to IP ranges
  docs/api/fiber.md
Labels: 📒 Documentation, v3

#2883 fix(middleware/cors): Validation of multiple Origins
  middleware/cors/cors.go
  middleware/cors/cors_test.go
Labels: ☢️ Bug, v2

#2886 🧹 v3 (Maintenance): Expand Tests and Benchmarks for Log package
  log/default_test.go
  log/fiberlog_test.go
Labels: 🧹 Updates, v3

#1986 ✨ v3 (feature): client refactor
  client.go
  client/README.md
  client/client.go
  client/client_test.go
  client/cookiejar.go
  client/cookiejar_test.go
  client/core.go
  client/core_test.go
  client/helper_test.go
  client/hooks.go
  client/hooks_test.go
  client/request.go
  client/request_test.go
  client/response.go
  client/response_test.go
  client_test.go
  listen_test.go
  log/default.go
  middleware/proxy/proxy.go
  middleware/proxy/proxy_test.go
  redirect_test.go
Labels: ✏️ Feature, v3

#2896 refactor: Rename "ClientNew" Function to "New"
  client/client.go
  client/client_test.go
  client/core_test.go
  client/helper_test.go
  client/hooks_test.go
  client/request_test.go
  client/response_test.go
  middleware/proxy/proxy_test.go
Labels: 🧹 Updates, v3

#2911 🧹 v3 (chore): Bump minimum version of Go to 1.21
  .github/README.md
  .github/README_az.md
  .github/README_es.md
  .github/README_tr.md
  .github/README_zh-CN.md
  .github/README_zh-TW.md
  .github/workflows/benchmark.yml
  .github/workflows/linter.yml
  .github/workflows/test.yml
  go.mod
  middleware/pprof/pprof.go
Labels: 🧹 Updates, v3

#2912 📚 Doc: fixed a typo in app.go
  app.go
Labels: 📒 Documentation, v3

#2910 feat(middleware/csrf): Add support for trusted origins
  docs/api/middleware/csrf.md
  middleware/csrf/config.go
  middleware/csrf/csrf.go
  middleware/csrf/csrf_test.go
Labels: ✏️ Feature, v3

#2917 chore: remove repetitive words
  docs/api/fiber.md
  docs/guide/routing.md
  docs/partials/routing/handler.md
Labels: 📒 Documentation, v3

#2900 feat(middleware/proxy): Add DialDualStack option for upstream IPv6 support
  docs/api/middleware/proxy.md
  middleware/proxy/config.go
  middleware/proxy/proxy.go
  middleware/proxy/proxy_test.go
Labels: ✏️ Feature, v3

#2906 🩹 Fix: improper query/body parsing with embedded structs
  binder/mapping.go
  ctx_test.go
Labels: 🧹 Updates, v3

#2915 fix(middleware/cors): Handling and wildcard subdomain matching
  docs/api/middleware/cors.md
  middleware/cors/cors.go
  middleware/cors/cors_test.go
  middleware/cors/utils.go
  middleware/cors/utils_test.go
Labels: ☢️ Bug, v2

#2874 feat: make golangci-lint config stricter
  .golangci.yml
  listen_test.go
  middleware/cors/cors.go
  middleware/idempotency/idempotency_test.go
  middleware/session/store.go
  path.go
  redirect.go
Labels: ✏️ Feature, 🧹 Updates, v3

#2922 chore(middleware/cors): Merge changes from v2
  docs/api/middleware/cors.md
  middleware/cors/cors.go
  middleware/cors/cors_test.go
  middleware/cors/utils.go
  middleware/cors/utils_test.go
Labels: 🧹 Updates, v3

#2921 fix(middleware/cors): Categorize requests correctly
  middleware/cors/cors.go
  middleware/cors/cors_test.go
  middleware/cors/utils_test.go
Labels: ☢️ Bug, v2

#2908 feat(middleware/cors): Add support for Access-Control-Allow-Private-Network
  docs/api/middleware/cors.md
  helpers.go
  middleware/cors/cors.go
  middleware/cors/cors_test.go
Labels: ✏️ Feature, v3

#2929 chore: Update golangci-lint to v1.57.1
  .github/workflows/linter.yml
  .golangci.yml
  client/core_test.go
  client/helper_test.go
  client/request_test.go
  listen_test.go
  redirect_test.go
Labels: 🧹 Updates, v3

#2931 chore: Enabling shuffling, cleanup and consistency across tests
  .github/README.md
  .github/workflows/test.yml
  .gitignore
  Makefile
  addon/retry/exponential_backoff_test.go
  app_test.go
  client/cookiejar_test.go
  ctx_test.go
  error_test.go
  middleware/cache/manager_msgp_test.go
  middleware/cors/utils_test.go
  middleware/csrf/manager_msgp_test.go
  middleware/envvar/envvar_test.go
  middleware/idempotency/response_msgp_test.go
  middleware/keyauth/keyauth_test.go
  middleware/limiter/manager_msgp_test.go
  middleware/session/store_test.go
Labels: 🧹 Updates, v3

#2925 feat(middleware/csrf): TrustedOrigins using https://*.example.com style subdomains
  docs/api/middleware/csrf.md
  middleware/csrf/csrf.go
  middleware/csrf/csrf_test.go
  middleware/csrf/helpers.go
  middleware/csrf/helpers_test.go
Labels: ✏️ Feature, v3

#2932 test(middleware/csrf): Fix Benchmark Tests
  middleware/csrf/csrf.go
  middleware/csrf/csrf_test.go
Labels: ☢️ Bug, 🧹 Updates, v2

#2937 fix(middleware/cors): CORS handling
  middleware/cors/cors.go
  middleware/cors/cors_test.go
Labels: 🚨 High Priority, ☢️ Bug, v2

#2939 fix(middleware/cors): Vary header handling non-cors OPTIONS requests
  middleware/cors/cors.go
Labels: 🚨 High Priority, ☢️ Bug, v2

#2938 fix(middleware/cors): CORS handling
  middleware/cors/cors.go
  middleware/cors/cors_test.go
Labels: ☢️ Bug, v3
