Repository gofiber/fiber, pull requests merged in 2024-06, with the labels that each got.

#3024 Adding a generator to generate the CTX interface
  ctx.go
  ctx_interface.go
  ctx_interface_gen.go
  helpers.go
  middleware/idempotency/response.go
Labels: 🧹 Updates, v3

#3029 Bump golangci-lint to v1.59.1
  .github/workflows/linter.yml
  .golangci.yml
  Makefile
  ctx_test.go
  listen.go
  log/default.go
  middleware/adaptor/adaptor_test.go
  middleware/logger/default_logger.go
  middleware/logger/logger_test.go
Labels: 🧹 Updates, v3

#3031 🩹 Fix: Optimize Cache middleware handler
  middleware/cache/cache.go
Labels: 🧹 Updates, v3

#3033 docs: Improve ctx.Locals method documentation
  ctx.go
Labels: 📒 Documentation, v2

#3032 docs: Improve ctx.Locals method description, godoc and example
  ctx.go
  ctx_interface_gen.go
  docs/api/ctx.md
Labels: 📒 Documentation, v3

#3039 Add zero-allocation section to README
  .github/README.md
  docs/intro.md
Labels: 📒 Documentation

#2984 fix: monitor middleware reporting of CPU usage
  middleware/monitor/monitor.go
Labels: ☢️ Bug, v2

#3044 test(middleware/session): Remove extra release and acquire ctx calls in session_test.go
  middleware/session/session_test.go
Labels: 🧹 Updates, v3

#3043 test(middleware/session): Remove extra release and aquire ctx calls in session_test.go
  middleware/session/session_test.go
Labels: 🧹 Updates, v2

#3041 🔥 Feature: Add support for zstd compression
  .github/README.md
  .gitignore
  Makefile
  app.go
  bind_test.go
  constants.go
  ctx.go
  docs/api/fiber.md
  docs/middleware/compress.md
  docs/middleware/static.md
  docs/whats_new.md
  helpers_test.go
  middleware/compress/compress_test.go
  middleware/static/static.go
  middleware/static/static_test.go
Labels: ✏️ Feature, v3

#3036 🔥 Add Cache Invalidation Option to Cache Middleware
  docs/middleware/cache.md
  docs/whats_new.md
  middleware/cache/cache.go
  middleware/cache/cache_test.go
  middleware/cache/config.go
Labels: ✏️ Feature, v3

#3045 Update README_id.md
  .github/README_id.md
Labels: 📒 Documentation

#3028 🔥 Feature: Add support for custom KeyLookup functions in the Keyauth middleware
  docs/middleware/keyauth.md
  middleware/keyauth/config.go
  middleware/keyauth/keyauth.go
  middleware/keyauth/keyauth_test.go
Labels: ✏️ Feature, v3

#3046 fixes #3038 "v3 Flash Message with redirect is not working"
  redirect.go
  redirect_test.go
  router.go
Labels: ☢️ Bug, v3

#3049 fix(middleware/session): mutex for thread safety
  middleware/session/session.go
  middleware/session/session_test.go
  middleware/session/store.go
Labels: ☢️ Bug, SessionMW, v3

#3017 :sparkles: v3 (feature): add configuration support to c.SendFile()
  app.go
  ctx.go
  ctx_interface_gen.go
  ctx_test.go
  docs/api/ctx.md
  docs/whats_new.md
Labels: ✏️ Feature, v3

#3050 fix(middleware/session): mutex for thread safety
  middleware/session/session.go
  middleware/session/session_test.go
  middleware/session/store.go
Labels: ☢️ Bug, SessionMW, v2

#3051 fix(middleware/session): fix data-race with sync.Pool
  middleware/session/session.go
  middleware/session/store.go
Labels: ☢️ Bug, SessionMW, v3

#3054 feat: Add support for longtests during CI
  .github/workflows/test.yml
  Makefile
Labels: ✏️ Feature, v3

#3047 :sparkles: v3 (feature): add CHIPS support to Cookie
  ctx.go
  ctx_test.go
  docs/api/ctx.md
  docs/whats_new.md
Labels: ✏️ Feature, v3
