Repository gofiber/fiber, pull requests merged in 2024-04, with the labels that each got.

#2947 performance optimizations
  app_test.go
  ctx_interface.go
  router.go
Labels: 🧹 Updates, v3

#2957 🧹 Maintenance: Fix merge conflict in documentation
  docs/api/middleware/earlydata.md
Labels: 📒 Documentation, v3

#2969 📒 [docs]: Fix broken link to slim template in FAQ
  docs/extra/faq.md
Labels: 📒 Documentation, v3

#2974 chore: fix some struct names in comments
  helpers.go
  path.go
Labels: ☢️ Bug

#2962 refactor(middleware/cors)!: Config, lists as list types.
  docs/api/middleware/cors.md
  middleware/cors/config.go
  middleware/cors/cors.go
  middleware/cors/cors_test.go
Labels: 🧹 Updates, v3

#2963 chore(middleware/csrf): Update config TrustedOrigin comments
  middleware/csrf/config.go
Labels: 📒 Documentation, v3

#2983 Fix some comments
  client/hooks.go
  middleware/earlydata/earlydata.go
  path.go
Labels: 📒 Documentation, v3

#2979 docs(whats_new.md): CORS middleware
  docs/whats_new.md
Labels: 📒 Documentation, v3

#2933 chore: Add Benchmarks for IsProxyTrusted()
  ctx_test.go
Labels: 🧹 Updates, v3
