Repository gofiber/fiber, pull requests merged in 2024-08, with the labels that each got.

#3113 📚 Doc: Add detailed documentation for the templates guide
  docs/guide/templates.md
Labels: 📒 Documentation, v2

#3099 :sparkles: enhancement: use msgp for flash message encoding/decoding
  Makefile
  ctx.go
  ctx_interface_gen.go
  middleware/cache/manager.go
  middleware/csrf/storage_manager.go
  middleware/idempotency/response.go
  middleware/limiter/manager.go
  middleware/session/data.go
  redirect.go
  redirect_msgp.go
  redirect_msgp_test.go
  redirect_test.go
Labels: 🧹 Updates, v3

#3109 client: fix SetProxyURL functionality
  client/client.go
  client/client_test.go
  go.mod
  go.sum
Labels: ☢️ Bug, v3

#3116 📚 Doc: Update example in middleware/cors to v3
  docs/middleware/cors.md
Labels: 📒 Documentation, v3
