Repository gofiber/fiber, pull requests merged in 2024-09, with the labels that each got.

#3124 v2: Add CODEOWNERS file
  .github/CODEOWNERS
Labels: 🧹 Updates, v2

#3126 🩹 Fix (v3): handle un-matched open brackets in the query params
  binder/mapping.go
  binder/mapping_test.go
Labels: ☢️ Bug, v3

#3129 📚 Doc: Update recover docs to not use reserved keyword
  docs/middleware/recover.md
Labels: 📒 Documentation, v3

#3133 📚 Doc: Fix typos in client hooks documentation
  docs/client/hooks.md
Labels: 📒 Documentation, v3

#3135 Bump golangci-lint to v1.61.0
  .github/workflows/linter.yml
  Makefile
  middleware/cache/cache.go
  middleware/etag/etag.go
Labels: 🧹 Updates, v3

#3134 v3: Fix issue with default logger when creating RequestCtx
  middleware/adaptor/adaptor.go
  middleware/adaptor/adaptor_test.go
Labels: ☢️ Bug, v3

#3140 v3: Optimize IsFromLocal() performance
  ctx.go
  ctx_interface_gen.go
  ctx_test.go
Labels: 🧹 Updates, v3

#3142 Replaced link to russian mozilla docs
  docs/api/ctx.md
Labels: 📒 Documentation

#3144 📚 Doc: removed zero width white space from logger docs
  docs/middleware/logger.md
Labels: 📒 Documentation

#3145 chore(middleware/cache): fix typo
  middleware/cache/cache.go
Labels: ☢️ Bug, 📒 Documentation

#3147 build(deps): bump github.com/tinylib/msgp from 1.1.8 to 1.2.1
  go.mod
  go.sum
Labels: 🤖 Dependencies

#3150 🩹 Fix: behavior of `DefaultCtx.Fresh` when 'Last-Modified' and 'If-Modified-Since' are equal
  ctx.go
  ctx_test.go
Labels: ☢️ Bug, v3
