Repository gofiber/fiber, pull requests merged in 2024-10, with the labels that each got.

#3151 🩹Fix: Adaptor middleware duplicates cookies
  middleware/adaptor/adaptor.go
  middleware/adaptor/adaptor_test.go
Labels: ☢️ Bug, v3

#3158 docs: Fix typo on comment
  bind.go
Labels: 📒 Documentation, v3

#3152 chore: replace vendored gorilla/schema package
  bind_test.go
  binder/mapping.go
  docs/api/bind.md
  error.go
  error_test.go
  go.mod
  go.sum
  internal/schema/LICENSE
  internal/schema/cache.go
  internal/schema/converter.go
  internal/schema/decoder.go
  internal/schema/doc.go
  internal/schema/encoder.go
Labels: 🧹 Updates, v3

#3163 🩹 Fix: Middleware/CORS Remove Scheme Restriction
  middleware/cors/utils.go
  middleware/cors/utils_test.go
Labels: ☢️ Bug, 🧹 Updates, v3

#3164 📚 Doc: typo in hooks documentation
  docs/api/hooks.md
  hooks.go
Labels: 📒 Documentation, v3

#3165 Update README.md
  .github/README.md
Labels: 📒 Documentation

#3166 Revert "Update README.md (#3165)"
  .github/README.md
Labels: 📒 Documentation, v3

#3168 🩹 fix: Middleware/CORS Remove Scheme Restriction
  middleware/cors/utils.go
  middleware/cors/utils_test.go
Labels: ☢️ Bug, v2

#3170 🔥Feature: Add support for TrustProxy
  .github/README.md
  app.go
  ctx.go
  ctx_interface_gen.go
  ctx_test.go
  docs/api/ctx.md
  docs/api/fiber.md
  docs/middleware/cors.md
  docs/middleware/earlydata.md
  docs/whats_new.md
  middleware/cors/config.go
  middleware/earlydata/earlydata_test.go
Labels: ✏️ Feature, v3

#3016 feat!(middleware/session): re-write session middleware with handler
  docs/middleware/csrf.md
  docs/middleware/session.md
  docs/whats_new.md
  middleware/csrf/config.go
  middleware/csrf/csrf.go
  middleware/csrf/csrf_test.go
  middleware/csrf/session_manager.go
  middleware/session/config.go
  middleware/session/config_test.go
  middleware/session/data.go
  middleware/session/data_msgp.go
  middleware/session/data_test.go
  middleware/session/middleware.go
  middleware/session/middleware_test.go
  middleware/session/session.go
  middleware/session/session_test.go
  middleware/session/store.go
  middleware/session/store_test.go
Labels: SessionMW, ✏️ Feature, v3

#3181 📚 Doc: Update What's New documentation
  docs/whats_new.md
Labels: 📒 Documentation, v3

#3172 📚 Doc: Clarify SendFile Docs
  .github/testdata/fs/img/fiberpng
  .github/testdata/fs/img/fiberpng.jpeg
  .github/testdata/fs/img/fiberpng.notvalidext
  app.go
  app_test.go
  ctx.go
  ctx_interface_gen.go
  ctx_test.go
  docs/api/ctx.md
  router.go
Labels: 📒 Documentation, v3
