Repository gofiber/fiber, pull requests merged in 2024-12, with the labels that each got.

#3173 🔥 feat: Add support for CBOR encoding
  app.go
  bind.go
  bind_test.go
  binder/README.md
  binder/binder.go
  binder/cbor.go
  binder/cookie.go
  binder/form.go
  binder/header.go
  binder/json.go
  binder/mapping.go
  binder/query.go
  binder/resp_header.go
  binder/uri.go
  binder/xml.go
  client/client.go
  client/client_test.go
  client/hooks.go
  client/hooks_test.go
  client/request.go
  client/request_test.go
  client/response.go
  client/response_test.go
  constants.go
  ctx.go
  ctx_interface_gen.go
  ctx_test.go
  docs/api/bind.md
  docs/api/constants.md
  docs/api/ctx.md
  docs/api/fiber.md
  docs/client/request.md
  docs/client/response.md
  docs/client/rest.md
  docs/whats_new.md
  go.mod
  middleware/cache/manager_msgp.go
Labels: ✏️ Feature, v3

#3153 :fire: Feature: Add AllLogger to Config
  docs/api/log.md
  docs/middleware/logger.md
  docs/whats_new.md
  log/default.go
  log/default_test.go
  log/log.go
  middleware/logger/logger_test.go
  middleware/logger/utils.go
Labels: ✏️ Feature, v3

#3226 chore: mark go1.23 as minimum go version
  .github/README.md
  .github/workflows/benchmark.yml
  .github/workflows/linter.yml
  .github/workflows/test.yml
  docs/intro.md
  docs/whats_new.md
  go.mod
Labels: 🧹 Updates, v3

#3220 🔥 feat: Add support for graceful shutdown timeout in ListenConfig
  docs/api/fiber.md
  listen.go
  listen_test.go
Labels: ✏️ Feature, v3

#3201 🔥 feat: Add support for AutoTLS / ACME
  docs/api/fiber.md
  docs/whats_new.md
  go.mod
  go.sum
  listen.go
Labels: ✏️ Feature, v3

#3228 🔥 feat: Add support for iterator methods to Fiber client
  Makefile
  client/hooks.go
  client/request.go
  client/request_test.go
  client/response.go
  client/response_test.go
  docs/client/request.md
  docs/client/response.md
Labels: ✏️ Feature, v3

#3246 🐛 fix: Respect Immutable config for Body()
  .github/workflows/test.yml
  ctx.go
Labels: ☢️ Bug, v2

#3227 🩹 fix: make SetValWithStruct set zero values and support more types #3167
  client/request.go
  client/request_test.go
Labels: ☢️ Bug, v3

#3248 🔥 feat: Add support for configuring TLS Min Version
  docs/api/fiber.md
  docs/whats_new.md
  listen.go
  listen_test.go
Labels: ✏️ Feature, v3

#3254 🧹 chore: Update dependencies
  Makefile
  go.mod
  go.sum
  router_test.go
Labels: 🧹 Updates, v2

#3255 ♻️ Refactor: Rename the Method Names of FormData and FormDatas (#3251)
  client/client.go
  client/hooks_test.go
  client/request.go
  client/request_test.go
  docs/client/request.md
Labels: 🧹 Updates, v3

#3259 🧹 chore: Add parallel benchmark for Next()
  router_test.go
Labels: 🧹 Updates, v2

#3257 feat: Add Drop method to DefaultCtx for silent connection termination
  ctx.go
  ctx_interface_gen.go
  ctx_test.go
  docs/api/ctx.md
  middleware/cache/manager_msgp.go
Labels: ✏️ Feature, v3

#3231 :bug: bug: fix EnableSplittingOnParsers is not functional
  app.go
  bind.go
  bind_test.go
  binder/binder.go
  binder/binder_test.go
  binder/cbor.go
  binder/cbor_test.go
  binder/cookie.go
  binder/cookie_test.go
  binder/form.go
  binder/form_test.go
  binder/header.go
  binder/header_test.go
  binder/json.go
  binder/json_test.go
  binder/mapping.go
  binder/mapping_test.go
  binder/query.go
  binder/query_test.go
  binder/resp_header.go
  binder/resp_header_test.go
  binder/uri.go
  binder/uri_test.go
  binder/xml.go
  binder/xml_test.go
  ctx_test.go
  docs/api/bind.md
  docs/api/fiber.md
  docs/whats_new.md
  redirect.go
Labels: ☢️ Bug, v3

#3263 🩹 Fix: Memory leak removal in the idempotency middleware
  middleware/idempotency/locker.go
  middleware/idempotency/locker_test.go
Labels: ☢️ Bug, v3

#3261 🧹 chore: Improve Performance of Fiber Router
  .github/workflows/linter.yml
  Makefile
  app.go
  app_test.go
  binder/mapping.go
  ctx_interface_gen.go
  ctx_test.go
  path.go
  router.go
  router_test.go
Labels: 🧹 Updates, v3

#3235 :bug: bug: Fix square bracket notation in Multipart FormData
  bind_test.go
  binder/cookie.go
  binder/form.go
  binder/form_test.go
  binder/header.go
  binder/mapping.go
  binder/query.go
  binder/resp_header.go
Labels: ☢️ Bug, ✏️ Feature, v3

#3268 Support Square Bracket Notation in Multipart Form data
  ctx.go
  ctx_test.go
  go.mod
  go.sum
  helpers.go
Labels: ☢️ Bug
