Repository gofiber/fiber, pull requests merged in 2024-01, with the labels that each got.

#2509 :sparkles: feat: add liveness and readiness checks
  docs/api/app.md
  docs/api/middleware/healthcheck.md
  middleware/healthcheck/config.go
  middleware/healthcheck/healthcheck.go
  middleware/healthcheck/healthcheck_test.go
Labels: ✏️ Feature

#2781 ♻️ v3: fix!: ContextKey collisions
  ctx.go
  docs/api/ctx.md
  docs/api/middleware/basicauth.md
  docs/api/middleware/csrf.md
  docs/api/middleware/earlydata.md
  docs/api/middleware/idempotency.md
  docs/api/middleware/keyauth.md
  docs/api/middleware/requestid.md
  middleware/basicauth/basicauth.go
  middleware/basicauth/basicauth_test.go
  middleware/basicauth/config.go
  middleware/csrf/config.go
  middleware/csrf/csrf.go
  middleware/csrf/csrf_test.go
  middleware/earlydata/earlydata.go
  middleware/idempotency/idempotency.go
  middleware/keyauth/README.md
  middleware/keyauth/config.go
  middleware/keyauth/keyauth.go
  middleware/logger/logger_test.go
  middleware/requestid/config.go
  middleware/requestid/requestid.go
  middleware/requestid/requestid_test.go
Labels: 🧹 Updates, v3

#2766 🔥 v3: update Ctx.Format to match Express's res.format
  ctx.go
  ctx_interface.go
  ctx_test.go
  docs/api/ctx.md
  error.go
Labels: 🧹 Updates, v3

#2794 📚 Doc: Update handler signature for v3
  .github/README_az.md
  .github/README_eg.md
  .github/README_pl.md
  .github/README_uk.md
  .github/README_zh-TW.md
  docs/api/app.md
  docs/api/client.md
  docs/api/ctx.md
  docs/api/fiber.md
  docs/api/middleware/adaptor.md
  docs/api/middleware/basicauth.md
  docs/api/middleware/cache.md
  docs/api/middleware/compress.md
  docs/api/middleware/cors.md
  docs/api/middleware/csrf.md
  docs/api/middleware/earlydata.md
  docs/api/middleware/encryptcookie.md
  docs/api/middleware/etag.md
  docs/api/middleware/expvar.md
  docs/api/middleware/favicon.md
  docs/api/middleware/filesystem.md
  docs/api/middleware/helmet.md
  docs/api/middleware/idempotency.md
  docs/api/middleware/keyauth.md
  docs/api/middleware/limiter.md
  docs/api/middleware/logger.md
  docs/api/middleware/monitor.md
  docs/api/middleware/pprof.md
  docs/api/middleware/proxy.md
  docs/api/middleware/recover.md
  docs/api/middleware/redirect.md
  docs/api/middleware/requestid.md
  docs/api/middleware/rewrite.md
  docs/api/middleware/session.md
  docs/api/middleware/skip.md
  docs/api/middleware/timeout.md
  docs/extra/faq.md
  docs/guide/error-handling.md
  docs/guide/grouping.md
  docs/guide/hooks.md
  docs/guide/routing.md
  docs/guide/templates.md
  docs/guide/validation.md
  docs/intro.md
  docs/partials/routing/handler.md
Labels: 🧹 Updates

#2796 chore: change interface{} to any
  ctx.go
  ctx_test.go
  docs/api/client.md
  docs/api/ctx.md
  docs/api/middleware/adaptor.md
  docs/api/middleware/recover.md
  docs/api/middleware/session.md
  docs/guide/templates.md
  docs/guide/validation.md
  docs/partials/routing/handler.md
  log/default.go
  log/default_test.go
  log/fiberlog.go
  log/log.go
  middleware/adaptor/adaptor.go
  middleware/adaptor/adaptor_test.go
  middleware/csrf/csrf.go
  middleware/logger/logger.go
  middleware/recover/recover.go
  router_test.go
Labels: 🧹 Updates

#2801 ci: re-enable tparallel linter
  .golangci.yml
  addon/retry/exponential_backoff_test.go
  ctx_test.go
  middleware/filesystem/filesystem_test.go
  middleware/session/session_test.go
Labels: 🧹 Updates

#2802 docs: fix typo in documentation
  docs/api/fiber.md
Labels: 📒 Documentation

#2776 v3: Add QueryParser for get query using generic
  ctx.go
  ctx_interface.go
  ctx_test.go
  docs/api/ctx.md
  docs/api/middleware/cache.md
  docs/guide/validation.md
  middleware/cache/cache_test.go
  middleware/csrf/extractors.go
  middleware/keyauth/keyauth.go
  middleware/logger/tags.go
  middleware/proxy/proxy_test.go
  middleware/session/store.go
  utils.go
Labels: ✏️ Feature, v3

#2805 chore: Fix testifylint errors in middleware
  middleware/adaptor/adaptor_test.go
  middleware/cache/cache_test.go
  middleware/compress/compress_test.go
  middleware/csrf/csrf_test.go
  middleware/envvar/envvar_test.go
  middleware/etag/etag_test.go
  middleware/favicon/favicon_test.go
  middleware/filesystem/filesystem_test.go
  middleware/keyauth/keyauth_test.go
  middleware/logger/logger_test.go
  middleware/pprof/pprof_test.go
  middleware/proxy/proxy_test.go
  middleware/redirect/redirect_test.go
  middleware/requestid/requestid_test.go
  middleware/rewrite/rewrite_test.go
  middleware/session/session_test.go
  middleware/session/store_test.go
Labels: 🧹 Updates

#2806 chore: Fix remaining testifylint errors
  app_test.go
  bind_test.go
  client_test.go
  ctx_test.go
  helpers_test.go
  hooks_test.go
  internal/storage/memory/memory_test.go
  listen_test.go
  mount_test.go
  prefork_test.go
  redirect_test.go
  router_test.go
Labels: 🧹 Updates

#2809 📚: Fix a misspelled comment
  listen.go
Labels: 📒 Documentation

#2811 Fix default value to false in docs of QueryBool
  ctx.go
Labels: 📒 Documentation, v2

#2815 chore: fix force type assertions in session_test.go
  middleware/session/session_test.go
Labels: ☢️ Bug, v3

#2813 Addition of Locals Function with Go Generics as an Alternative to c.Locals
  ctx.go
  ctx_test.go
  docs/api/ctx.md
Labels: ✏️ Feature, v3

#2820 Update Typo documentation
  docs/api/ctx.md
Labels: 📒 Documentation, v3

#2817 ci: Update golangci-lint to v1.55.2
  .github/workflows/linter.yml
  .golangci.yml
  binder/mapping.go
  error.go
  middleware/adaptor/adaptor_test.go
  redirect_test.go
Labels: 🧹 Updates, v3
