Repository gofiber/fiber, pull requests merged in 2025-06, with the labels that each got.

#3498 📒 docs: Remove deprecated comments and documenting recent changes
  constants.go
  docs/api/constants.md
  docs/middleware/cache.md
  docs/middleware/limiter.md
  docs/middleware/logger.md
  docs/whats_new.md
Labels: 📒 Documentation, 🧹 Updates, v3

#3495 🐛 fix: Subdomains offset handling
  ctx.go
  ctx_test.go
  docs/api/ctx.md
Labels: ☢️ Bug, v3, codex

#3507 🧹 chore: Fix typos in code and docs
  bind_test.go
  binder/binder.go
  binder/mapping.go
  binder/mapping_test.go
  ctx.go
  docs/api/bind.md
  docs/guide/utils.md
  docs/middleware/encryptcookie.md
  docs/whats_new.md
  helpers.go
  listen.go
  middleware/cors/cors.go
  middleware/cors/cors_test.go
  middleware/earlydata/earlydata_test.go
  middleware/static/static_test.go
  path.go
  path_test.go
  prefork.go
Labels: 📒 Documentation, v3, codex

#3513 🧹 chore: Refactor EnvVar middleware
  docs/middleware/envvar.md
  docs/whats_new.md
  middleware/envvar/envvar.go
  middleware/envvar/envvar_test.go
Labels: 🧹 Updates, v3, codex

#3509 📒 docs: Enhance CORS middleware documentation with preflight request details and infrastructure considerations
  docs/middleware/cors.md
Labels: 📒 Documentation, v3, 📝 Proposal

#3517 ✨ feat: Add support for Keys() in session middleware
  docs/middleware/session.md
  middleware/session/middleware.go
  middleware/session/middleware_test.go
  middleware/session/session.go
Labels: 📒 Documentation, ✏️ Feature, 🧹 Updates

#3520 🧹 chore: Improve EarlyData middleware tests coverage
  middleware/earlydata/earlydata_test.go
Labels: 🧹 Updates, v3, codex

#3521 🧹 chore: Improve Idempotency middleware tests coverage
  middleware/idempotency/idempotency_test.go
  middleware/idempotency/stub_test.go
Labels: 🧹 Updates, v3, codex

#3523 🧹 chore: Improve Helmet middleware tests coverage
  middleware/helmet/helmet_test.go
Labels: 🧹 Updates, v3, codex

#3527 🧹 chore: Add missing CSRF token extractor tests
  middleware/csrf/extractors_test.go
Labels: 🧹 Updates, v3, codex

#3524 🧹 chore: Improve hooks test coverage
  .github/codecov.yml
  .github/workflows/test.yml
  hooks_test.go
Labels: 🧹 Updates, v3, codex

#3528 🧹 chore: Update codecov configuration
  .github/codecov.yml
Labels: 🧹 Updates, v3

#3529 🧹 chore: Improve Binder tests coverage
  binder/binder_test.go
Labels: 🧹 Updates, v3, codex

#3530 🧹 chore: Improve CORS tests coverage
  middleware/cors/cors_test.go
Labels: 🧹 Updates, v3, codex

#3522 🧹chore: Improve BasicAuth middleware default security
  docs/middleware/basicauth.md
  docs/whats_new.md
  middleware/basicauth/basicauth.go
  middleware/basicauth/basicauth_test.go
  middleware/basicauth/config.go
Labels: 🧹 Updates, v3, codex

#3531 🧹 chore: Improve CSRF tests coverage
  middleware/csrf/csrf_test.go
Labels: 🧹 Updates, v3, codex

#3536 🐛 bug: Fix Content-Type comparison in Is()
  ctx.go
  ctx_test.go
Labels: ☢️ Bug, v3, codex

#3542 ♻️ refact(state): Use GetState to reduce duplicate code
  state.go
Labels: 🧹 Updates, v3

#3541 🐛 bug: Fix Range() parsing of bytes unit
  ctx.go
  ctx_test.go
  docs/api/ctx.md
Labels: ☢️ Bug, v3, codex

#3554 🐛 bug: Fix Etag validation per RFC 9110
  .github/workflows/linter.yml
  .golangci.yml
  ctx.go
  ctx_test.go
  docs/middleware/etag.md
  helpers.go
  helpers_test.go
Labels: ☢️ Bug, v3, codex

#3549 🐛 fix(docs): incorrect usage of backslash characters in the constraint …
  docs/guide/routing.md
Labels: ☢️ Bug, 📒 Documentation

#3552 🐛 bug: Fix Range() handling of HTTP 416 per RFC 9110
  ctx.go
  ctx_test.go
  docs/api/ctx.md
Labels: ☢️ Bug, v3, codex

#3553 🐛 bug: Fix Accept-Language matching per RFC 4647
  ctx.go
  ctx_test.go
  docs/api/ctx.md
  helpers.go
  helpers_test.go
Labels: ☢️ Bug, v3, codex

#3547 🐛 bug: Fix Cache middleware handling of Age
  ctx_interface_gen.go
  docs/middleware/cache.md
  middleware/cache/cache.go
  middleware/cache/cache_test.go
  middleware/cache/manager.go
  middleware/cache/manager_msgp.go
  middleware/cache/manager_msgp_test.go
  middleware/csrf/storage_manager_msgp_test.go
  middleware/idempotency/response_msgp_test.go
  middleware/session/data_msgp_test.go
Labels: ☢️ Bug, v3, codex

#3535 🔥 feat: Add UNIX socket support
  constants.go
  docs/api/fiber.md
  docs/whats_new.md
  listen.go
  listen_test.go
Labels: ✏️ Feature, v3

#3551 🐛 bug: Fix Content-Disposition header per RFC 6266
  ctx.go
  ctx_test.go
  docs/api/ctx.md
  docs/middleware/static.md
  docs/whats_new.md
  helpers.go
  middleware/static/static.go
  middleware/static/static_test.go
Labels: ☢️ Bug, v3, codex

#3543 🐛 bug: Fix Body() handling of Content-Encoding per RFC 9110
  constants.go
  ctx.go
  ctx_test.go
  docs/api/ctx.md
Labels: ☢️ Bug, v3, codex
