Repository gofiber/fiber, pull requests merged in 2025-08, with the labels that each got.

#3649 📒docs: Fix Skip middleware docs
  docs/middleware/skip.md
  middleware/skip/skip.go
Labels: 📒 Documentation, v3, codex

#3648 📒docs: Fix RequestID docs
  docs/middleware/requestid.md
Labels: 📒 Documentation, v3, codex

#3647 📒docs: Fix Proxy middleware docs
  docs/middleware/proxy.md
Labels: 📒 Documentation, v3, codex

#3645 📒docs: Fix Compress middleware docs
  docs/middleware/compress.md
  middleware/compress/config.go
Labels: 📒 Documentation, v3, codex

#3644 📒docs: Fix Cache middleware docs
  docs/middleware/cache.md
  middleware/cache/config.go
Labels: 📒 Documentation, v3, codex

#3636 🧹 chore: Fix CSRF error message mismatch with documentation
  docs/middleware/csrf.md
  docs/whats_new.md
  middleware/csrf/config_test.go
  middleware/csrf/csrf.go
  middleware/csrf/extractors.go
  middleware/csrf/extractors_test.go
Labels: 🧹 Updates, v3, codex

#3652 Reduce allocation in AutoFormat
  req.go
  res.go
Labels: v3, ⚡️ Performance, codex

#3657 📒 docs: Fix Healthcheck middleware documentation
  docs/middleware/healthcheck.md
  docs/whats_new.md
  middleware/healthcheck/config.go
  middleware/healthcheck/healthcheck.go
Labels: 📒 Documentation, codex

#3641 📒docs: Fix KeyAuth middleware docs
  docs/middleware/keyauth.md
  middleware/keyauth/config.go
Labels: 📒 Documentation, v3, codex

#3659 🐛 bug: Fix bind All() merging logic
  bind.go
  bind_test.go
Labels: ☢️ Bug, v3, codex

#3660 Add sync pool and release helpers for Bind
  bind.go
  bind_test.go
  ctx.go
Labels: codex

#3670 🧹 chore: Add missing checks in Ctx tests
  app_test.go
  ctx_test.go
Labels: ☢️ Bug, 🧹 Updates, v3, codex

#3675 📒 docs: Improve Timeout middleware documentation
  docs/middleware/timeout.md
Labels: 📒 Documentation, v3, codex

#3669 stabilize interrupted stream writer test
  ctx_test.go
Labels: 🧹 Updates, codex

#3682 🧹 chore: require Go 1.25
  .github/workflows/benchmark.yml
  .github/workflows/linter.yml
  .github/workflows/modernize.yml
  .github/workflows/test.yml
  docs/intro.md
  docs/whats_new.md
  go.mod
Labels: codex

#3686 Use ephemeral ports in unit tests
  app_test.go
  hooks_test.go
  listen_test.go
  prefork_test.go
Labels: 🧹 Updates, v3, codex

#3688 🐛 bug: Handle invalid path in filesystem
  middleware/filesystem/filesystem.go
  middleware/filesystem/filesystem_test.go
Labels: ☢️ Bug, v2

#3691 📒 docs: Add Learning Resources section with Go Interview Practice platform
  docs/extra/learning-resources.md
  docs/intro.md
Labels: 📒 Documentation, v3

#3692 🧹 chore: Return generic errors in KeyAuth middleware
  docs/middleware/keyauth.md
  middleware/keyauth/config.go
  middleware/keyauth/extractors.go
  middleware/keyauth/extractors_test.go
  middleware/keyauth/keyauth.go
  middleware/keyauth/keyauth_test.go
Labels: 🧹 Updates, v3, codex

#3695 📚 docs: Fix typos in documentation
  .github/labeler.yml
  binder/msgpack.go
  binder/msgpack_test.go
  client/request_test.go
Labels: 📒 Documentation, v3

#3483 🔥 feat: Support for SendEarlyHints
  app.go
  app_test.go
  ctx_interface_gen.go
  ctx_test.go
  res.go
  res_interface_gen.go
Labels: ✏️ Feature, v3

#3698 refactor: using reflect.TypeAssert
  helpers.go
Labels: 🧹 Updates, v3

#3713 📒 docs: Improve wording and fix typos
  docs/guide/advance-format.md
  docs/guide/error-handling.md
  docs/guide/faster-fiber.md
  docs/guide/grouping.md
  docs/guide/templates.md
  docs/intro.md
Labels: 📒 Documentation, v3, codex
