Repository gofiber/fiber, pull requests merged in 2025-10, with the labels that each got.

#3772 🐛 bug: Fix usage of runtime RO data for ppc64 and s390x platforms
  readonly.go
  readonly_strict.go
Labels: ☢️ Bug, v3, codex

#3773 🐛 bug: Respect DisablePathNormalizing during client requests
  client/client.go
  client/hooks.go
  client/hooks_test.go
  client/request.go
Labels: ☢️ Bug, v3, codex

#3778 📒 docs: Document usage of reverse proxies for SendEarlyHints
  docs/api/ctx.md
  docs/guide/reverse-proxy.md
Labels: 📒 Documentation, v3

#3787 🧹 chore: Skip locking garbage collector if nothing to delete
  internal/storage/memory/memory.go
Labels: 🧹 Updates, v3, hacktoberfest

#3786 🐛 fix: Always close form file
  client/hooks.go
  client/hooks_test.go
Labels: ☢️ Bug, v3
