Repository gofiber/fiber, pull requests merged in 2025-09, with the labels that each got.

#3723 docs: document RoutePatternMatch
  docs/api/fiber.md
  path.go
Labels: 📒 Documentation, codex

#3740 🧹 chore: Improve Cache middleware defaults
  docs/middleware/cache.md
  middleware/cache/cache.go
  middleware/cache/cache_test.go
  middleware/cache/config.go
Labels: 🧹 Updates, v3, codex

#3744 refactor: Migrate Session middleware to new extractors package
  docs/middleware/session.md
  middleware/csrf/csrf_test.go
  middleware/session/config.go
  middleware/session/config_test.go
  middleware/session/extractors.go
  middleware/session/extractors_test.go
  middleware/session/middleware_test.go
  middleware/session/session.go
  middleware/session/session_test.go
  middleware/session/store.go
  middleware/session/store_test.go
Labels: 🧹 Updates, v3

#3745 🧹 chore: Improve Compress middleware RFC compliance
  docs/middleware/compress.md
  docs/whats_new.md
  middleware/compress/compress.go
  middleware/compress/compress_test.go
  middleware/etag/etag.go
Labels: 🧹 Updates, v3, codex

#3742 🧹 chore: Improve KeyAuth middleware RFC compliance
  docs/middleware/keyauth.md
  docs/whats_new.md
  middleware/keyauth/config.go
  middleware/keyauth/extractors.go
  middleware/keyauth/extractors_test.go
  middleware/keyauth/keyauth.go
  middleware/keyauth/keyauth_test.go
Labels: 🧹 Updates, v3, codex

#3748 🧹 chore: Handle Transfer-Encoding bodies in HasBody
  ctx.go
  ctx_interface_gen.go
  ctx_test.go
  middleware/cache/manager_msgp.go
  middleware/cache/manager_msgp_test.go
  middleware/csrf/storage_manager_msgp.go
  middleware/csrf/storage_manager_msgp_test.go
  middleware/idempotency/response_msgp.go
  middleware/idempotency/response_msgp_test.go
  middleware/limiter/manager_msgp.go
  middleware/session/data_msgp.go
  middleware/session/data_msgp_test.go
  redirect_msgp.go
Labels: 🧹 Updates, v3, codex

#3752 📒 docs: Ensure all exported elements are documented
  app.go
  bind.go
  binder/binder.go
  binder/cbor.go
  binder/header.go
  binder/mapping.go
  binder/msgpack.go
  binder/uri.go
  client/request.go
  ctx.go
  ctx_interface.go
  error.go
  group.go
  helpers.go
  hooks.go
  internal/memory/memory.go
  internal/storage/memory/memory.go
  internal/tlstest/tls.go
  log/default.go
  log/fiberlog.go
  log/log.go
  middleware/adaptor/adaptor.go
  middleware/cache/heap.go
  middleware/envvar/envvar.go
  middleware/healthcheck/healthcheck.go
  middleware/idempotency/idempotency.go
  middleware/idempotency/locker.go
  middleware/limiter/limiter.go
  middleware/limiter/limiter_fixed.go
  middleware/limiter/limiter_sliding.go
  middleware/logger/config.go
  middleware/logger/utils.go
  middleware/session/store.go
  mount.go
  path.go
  register.go
  req.go
  res.go
  router.go
Labels: 📒 Documentation, v3, codex

#3754 🧹 chore: Improve error handling when using storage drivers
  middleware/cache/cache.go
  middleware/cache/cache_test.go
  middleware/cache/manager.go
  middleware/cache/manager_test.go
  middleware/csrf/csrf.go
  middleware/csrf/csrf_test.go
  middleware/csrf/storage_manager.go
  middleware/csrf/storage_manager_msgp.go
  middleware/limiter/limiter_fixed.go
  middleware/limiter/limiter_sliding.go
  middleware/limiter/limiter_test.go
  middleware/limiter/manager.go
  middleware/session/data_msgp.go
Labels: 🧹 Updates, v3, codex

#3753 ♻️ Refactor: Improve performance analyseConstantPart
  path.go
Labels: 🧹 Updates, v3, ⚡️ Performance

#3765 🧹 chore: avoid locking in gc() if nothing to delete
  internal/memory/memory.go
Labels: 🧹 Updates, v3

#3766 ⚡ perf: Improve allocations for Request Params()
  client/request.go
  client/request_test.go
Labels: 🧹 Updates, v3, ⚡️ Performance

#3761 Update RouteChain function
  app.go
  app_test.go
  docs/api/app.md
  docs/whats_new.md
  group.go
  middleware/cache/cache_test.go
  register.go
  router.go
Labels: 🧹 Updates, v3, codex

#3760 🐛 bug: Handle Unix sockets in adaptor middleware
  middleware/adaptor/adaptor.go
  middleware/adaptor/adaptor_test.go
Labels: ☢️ Bug, v3

#3768 ⚡ perf: reduce allocations in Request (saves ~16% B/op)
  client/request.go
Labels: v3, ⚡️ Performance
