Repository gofiber/fiber, pull requests merged in 2025-01, with the labels that each got.

#3270 :bug: bug: make Render bind parameter type any again
  ctx.go
  ctx_interface_gen.go
  docs/api/ctx.md
Labels: ☢️ Bug, v3

#3275 refactor(timeout): unify and enhance timeout middleware
  middleware/timeout/timeout.go
  middleware/timeout/timeout_test.go
Labels: 🧹 Updates, v3

#3279 🩹 Fix: Fix app.Test() auto-failing when a connection is closed early
  app.go
  app_test.go
  ctx_test.go
  helpers.go
  helpers_test.go
Labels: ☢️ Bug, v3

#3280 🔥 feat: Add End() method to Ctx
  ctx.go
  ctx_interface_gen.go
  ctx_test.go
  docs/api/ctx.md
  docs/whats_new.md
Labels: ✏️ Feature, v3

#3284 📒 doc: Add ctx.Drop() to whats_new.md
  docs/whats_new.md
Labels: 📒 Documentation, v3

#3285 📚 Docs: Add `c.Drop()` example to `whats_new.md`
  docs/whats_new.md
Labels: 📒 Documentation, v3

#3283 🐛 fix: Align cache middleware with RFC7231
  docs/middleware/cache.md
  docs/whats_new.md
  middleware/cache/cache.go
  middleware/cache/cache_test.go
Labels: ☢️ Bug, v3
