Repository gofiber/fiber, pull requests merged in 2025-05, with the labels that each got.

#3435 📚 Doc: Fix examples in middleware/session
  docs/middleware/session.md
Labels: 📒 Documentation, v3

#3418 🐛 fix: Handling of next param position
  path.go
Labels: ☢️ Bug, v3

#3415 ♻️ refactor: Change c.Redirect() default status
  ctx.go
  ctx_interface_gen.go
  docs/api/redirect.md
  docs/extra/internal.md
  docs/middleware/redirect.md
  docs/whats_new.md
  middleware/expvar/expvar_test.go
  middleware/pprof/pprof_test.go
  redirect.go
  redirect_test.go
Labels: 🧹 Updates, v3

#3443 📒 docs: Idempotency add more detailed description for next method
  docs/middleware/idempotency.md
Labels: 📒 Documentation, v3

#3446 📝 docs: Document usage of Custom Tags in Logger middleware
  docs/api/ctx.md
  docs/middleware/compress.md
  docs/middleware/logger.md
  docs/partials/routing/handler.md
  docs/whats_new.md
Labels: 📒 Documentation, v3

#3454 🐛 Fix routing with mount and static
  app.go
  mount.go
  mount_test.go
  router.go
  router_test.go
Labels: ☢️ Bug, v2

#3456 🚀 Improve routing treeBuild flow
  app.go
  middleware/static/static_test.go
  mount.go
  mount_test.go
  router.go
Labels: 🧹 Updates, v3

#3457 :bug: bug: fix redirection flash messages violate cookie structure
  redirect.go
  redirect_test.go
Labels: ☢️ Bug, v3

#3461 docs: Add AGENTS.md
  AGENTS.md
Labels: 📒 Documentation, v2

#3464 📒 docs: Fix typos
  client/request_test.go
  docs/api/ctx.md
  docs/guide/templates.md
  docs/whats_new.md
Labels: 📒 Documentation, v3, codex

#3230 🔥 feat: Add Support for Removing Routes
  app_test.go
  docs/api/app.md
  docs/whats_new.md
  router.go
  router_test.go
Labels: ✏️ Feature, v3

#3465 docs: Fix more typos across code base
  app_test.go
  docs/guide/routing.md
  listen.go
  router.go
Labels: 📒 Documentation, v3, codex

#3466 🐛 fix: Parsing of IPv6 addresses
  helpers.go
  helpers_test.go
Labels: ☢️ Bug, v3, codex

#3467 🧹 chore: Fix proxy middleware tests for offline environments
  middleware/proxy/proxy_test.go
Labels: 🧹 Updates, v3, codex

#3468 Improve proxy middleware
  docs/middleware/proxy.md
  docs/whats_new.md
  middleware/proxy/config.go
  middleware/proxy/proxy.go
  middleware/proxy/proxy_test.go
Labels: 🧹 Updates, v3

#3470 🧹 chore: Add unit-test for header injection
  ctx_test.go
Labels: 🧹 Updates, v3, codex

#3471 Fix CSRF middleware tests for fasthttp 1.62
  middleware/csrf/csrf_test.go
Labels: codex

#3474 Update AGENTS startup instructions
  AGENTS.md
Labels: codex

#3477 ⚡️ Performance optimizations
  helpers.go
  middleware/adaptor/adaptor.go
  middleware/adaptor/adaptor_test.go
Labels: 🧹 Updates, v3, ⚡️ Performance

#3473 ♻️ refactor: Make genericParseType return error
  ctx.go
  ctx_test.go
  helpers.go
  helpers_test.go
Labels: 🧹 Updates, v3

#3478 🐛 fix: Embedded struct parsing
  ctx.go
  ctx_test.go
Labels: ☢️ Bug, v2

#3480 🧹 chore: Add URI Test case for Test_Ctx_Binders
  ctx_test.go
Labels: 🧹 Updates, v3

#3482 🧹 chore: Enhance KeyAuth middleware to better comply with RFC 6750
  docs/middleware/keyauth.md
  docs/whats_new.md
  middleware/keyauth/config.go
  middleware/keyauth/keyauth.go
  middleware/keyauth/keyauth_test.go
Labels: 🧹 Updates, v3, codex

#3484 🧹 chore: Enhance BasicAuth middleware to better comply with RFC 6750
  docs/middleware/basicauth.md
  docs/whats_new.md
  middleware/basicauth/basicauth.go
  middleware/basicauth/basicauth_test.go
  middleware/basicauth/config.go
Labels: 🧹 Updates, v3, codex

#3490 ♻️ refactor: use maps.Copy to simplify code
  binder/mapping.go
  client/request.go
  middleware/logger/tags.go
Labels: 🧹 Updates, v3

#3488 🧹 chore: Improve cache middleware RFC compliance
  docs/whats_new.md
  middleware/cache/cache.go
  middleware/cache/cache_test.go
  middleware/cache/manager.go
Labels: 🧹 Updates, v3, codex

#3491 🧹 chore: Enhance config validation in EncryptCookie middleware
  middleware/encryptcookie/config.go
  middleware/encryptcookie/config_test.go
  middleware/encryptcookie/encryptcookie.go
  middleware/encryptcookie/utils.go
Labels: 🧹 Updates, v3, codex
