Repository gofiber/fiber, pull requests merged in 2025-02, with the labels that each got.

#3306 🩹 Fix: goroutine leakage
  app.go
  app_test.go
Labels: ☢️ Bug, v3

#3315 🩹 Fix: genericParseType parsing large uint leads to overflow
  ctx_test.go
  helpers.go
Labels: ☢️ Bug, v3

#3317 docs: Update adapter middleware documentation
  docs/extra/faq.md
  docs/middleware/adaptor.md
Labels: 📒 Documentation, ✏️ Feature, v3

#3162 🔥 feat: Improve and Optimize ShutdownWithContext Func
  app.go
  app_test.go
  docs/api/fiber.md
  docs/api/hooks.md
  docs/whats_new.md
  hooks.go
  hooks_test.go
  listen.go
  listen_test.go
Labels: ✏️ Feature, v3

#3320 ♻️ Refactor: the value of map is unused in uniqueRouteStack
  helpers.go
Labels: 🧹 Updates, v3

#3322 ♻️ Refactor: Reduce the Memory Usage of ignoreHeaders
  middleware/cache/cache.go
Labels: 🧹 Updates, v3

#3318 ♻️ Refactor: Improve Performance of getSplicedStrList
  helpers.go
  helpers_test.go
Labels: 🧹 Updates, v3

#3325 🧹 chore: Add go1.24 to CI matrix
  .github/README.md
  .github/codecov.yml
  .github/workflows/test.yml
Labels: 🧹 Updates, v3
