Repository gofiber/fiber, pull requests merged in 2025-04, with the labels that each got.

#3388 📒 docs: Update docs for State Management
  docs/api/state.md
Labels: 📒 Documentation, v3

#3392 🧪 fix: Logger Middleware tests to use regex for time validation
  middleware/logger/logger_test.go
Labels: 🧹 Updates, v3

#3365 Revert "🔥 feat: Add Context Support to RequestID Middleware"
  docs/middleware/requestid.md
  middleware/requestid/requestid.go
  middleware/requestid/requestid_test.go
Labels: ✏️ Feature

#3412 📒 docs: fix CSRF handler example
  docs/middleware/csrf.md
Labels: 📒 Documentation, v3

#3417 📒 docs: Update usage of ctx.Redirect()
  .github/workflows/linter.yml
  docs/api/ctx.md
Labels: 📒 Documentation, v2
