Repository gofiber/fiber, pull requests merged in 2025-03, with the labels that each got.

#3331 🩹 Fix: sorting error in sortAcceptedTypes
  helpers.go
  helpers_test.go
Labels: 🧹 Updates, v3

#3335 ♻️ Refactor: reduce the memory usage of RoutePatternMatch
  path.go
Labels: 🧹 Updates, v3

#3336 🐛 fix: Update binder in form_test
  binder/README.md
  binder/form_test.go
  binder/mapping.go
  error.go
Labels: ☢️ Bug, v3

#2894 🔥 Feature: Add Req and Res API
  ctx.go
  ctx_interface.go
  ctx_interface_gen.go
  ctx_test.go
  docs/api/ctx.md
  req.go
  req_interface_gen.go
  res.go
  res_interface_gen.go
Labels: ✏️ Feature, v3

#3338 ♻️ Refactor: replace findLastCharsetPosition with strings.LastIndexByte
  path.go
  path_test.go
Labels: 🧹 Updates, v3, ⚡️ Performance

#3287 🔥 feat: Add support for context.Context in keyauth middleware
  middleware/keyauth/keyauth.go
  middleware/keyauth/keyauth_test.go
Labels: ✏️ Feature, v3

#3342 ♻️ Refactor: replace isInCharset with bytes.IndexByte
  ctx.go
  path.go
Labels: v3, ⚡️ Performance

#3333 🔥 feat: Add Skip function to logger middleware
  docs/middleware/logger.md
  docs/whats_new.md
  middleware/logger/config.go
  middleware/logger/default_logger.go
  middleware/logger/logger_test.go
Labels: ✏️ Feature, v3

#3348 docs: Update Helmet Middleware default values
  middleware/helmet/config.go
Labels: 📒 Documentation

#3350 docs: Update helmet.md default values
  docs/middleware/helmet.md
Labels: 📒 Documentation, v3

#3355 🧹 chore: Fix and update golangci-lint workflow
  .github/workflows/linter.yml
  .golangci.yml
  app.go
  app_test.go
  bind_test.go
  client/helper_test.go
  ctx_test.go
  helpers_test.go
  internal/storage/memory/memory_test.go
  listen.go
  log/default.go
  middleware/adaptor/adaptor_test.go
  middleware/logger/default_logger.go
  middleware/logger/logger_test.go
  path.go
  redirect_test.go
  router.go
  router_test.go
Labels: ☢️ Bug

#3366 🧹 chore: Mark unused tests with t.SkipNow
  middleware/csrf/csrf_test.go
Labels: 🧹 Updates, v3

#3353 ♻️ Refactor: reduce DefaultCtx from 768 bytes to 736 bytes
  ctx.go
  router.go
Labels: v3, ⚡️ Performance

#3369 📚 Doc: Add more validation examples
  docs/guide/validation.md
Labels: 📒 Documentation, v3

#3368 ♻️Refactor: reduce DefaultCtx from 736 to 728 bytes
  app.go
  ctx.go
  ctx_interface.go
  ctx_interface_gen.go
  helpers.go
  router.go
Labels: v3, ⚡️ Performance

#3374 🧹 chore: Add Immutable benchmarks for default case
  router_test.go
Labels: 🧹 Updates, v3

#3380 🧹 chore: Simplify HealthCheck middleware
  docs/middleware/healthcheck.md
  docs/whats_new.md
  middleware/healthcheck/config.go
  middleware/healthcheck/healthcheck.go
  middleware/healthcheck/healthcheck_test.go
Labels: 🧹 Updates, v3

#3360 :sparkles: feat: Add support for application state management
  app.go
  app_test.go
  docs/api/constants.md
  docs/api/state.md
  docs/whats_new.md
  state.go
  state_test.go
Labels: ✏️ Feature, v3

#3378 ♻️ Refactor: Add findNextNonEscapedCharPosition for single-byte charset cases
  path.go
Labels: v3, ⚡️ Performance

#3364 Revert "🔥 feat: Add support for context.Context in keyauth middleware"
  middleware/keyauth/keyauth.go
  middleware/keyauth/keyauth_test.go
Labels: ✏️ Feature
