Repository gofiber/fiber, pull requests merged in 2025-07, with the labels that each got.

#3556 📒 docs: Add net/http compatiblity section
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/ISSUE_TEMPLATE/question.yaml
  .github/README.md
  .github/pull_request_template.md
  docs/api/fiber.md
Labels: 📒 Documentation, v3

#3555 📒 docs: Add documentation for Stale()
  ctx.go
  ctx_interface_gen.go
  docs/api/ctx.md
Labels: 📒 Documentation, v3

#3559 Refactor fasthttp iter calls to range loops
  binder/cookie.go
  binder/form.go
  binder/header.go
  binder/query.go
  binder/resp_header.go
  client/client_test.go
  client/cookiejar.go
  client/hooks.go
  client/request.go
  client/request_test.go
  ctx.go
  middleware/adaptor/adaptor.go
  middleware/cache/cache.go
  middleware/cors/cors_test.go
  middleware/encryptcookie/encryptcookie.go
Labels: 🧹 Updates, v3, codex

#3562 ♻️ Refactor: improve iterator performance.
  client/request.go
Labels: 🧹 Updates, v3, ⚡️ Performance

#3576 Update utils dependency
  go.mod
  go.sum
  helpers.go
Labels: 🤖 Dependencies, 🧹 Updates, ⚡️ Performance, codex

#3565 🔥 feat: Add support for Msgpack
  app.go
  bind.go
  bind_test.go
  binder/binder.go
  binder/binder_test.go
  binder/msgpack.go
  binder/msgpack_test.go
  constants.go
  ctx.go
  ctx_interface_gen.go
  ctx_test.go
  docs/api/bind.md
  docs/api/ctx.md
  docs/api/fiber.md
  docs/guide/advance-format.md
  docs/whats_new.md
  go.mod
  go.sum
Labels: ✏️ Feature, v3

#3585 Update Copilot docs and setup
  .github/copilot-instructions.md
  .github/copilot-setup-steps.yml
Labels: codex

#3578 🧹 chore: Simplify generic function calls
  ctx.go
  ctx_test.go
  router.go
  state_test.go
Labels: 🧹 Updates

#3588 Fix cookiejar key handling and cleanup
  client/cookiejar.go
  client/cookiejar_test.go
Labels: codex

#3564 🐛 bug: Fix CookieJar domain logic
  client/cookiejar.go
  client/cookiejar_test.go
Labels: ☢️ Bug, v3, codex

#3590 Add modernize lint
  .github/workflows/modernize.yml
  Makefile
  app.go
  app_test.go
  bind.go
  binder/mapping.go
  binder/mapping_test.go
  client/client_test.go
  client/request.go
  client/request_test.go
  ctx.go
  ctx_test.go
  group.go
  internal/memory/memory_test.go
  listen.go
  middleware/adaptor/adaptor_test.go
  middleware/basicauth/basicauth_test.go
  middleware/cache/cache.go
  middleware/cache/cache_test.go
  middleware/cors/cors.go
  middleware/csrf/csrf_test.go
  middleware/idempotency/idempotency_test.go
  middleware/idempotency/locker_test.go
  middleware/limiter/limiter_test.go
  middleware/session/middleware_test.go
  middleware/session/session_test.go
  path.go
  prefork.go
  router.go
  router_test.go
  state_test.go
Labels: 🧹 Updates, codex

#3592 🧹 chore: Improve Radix router test coverage
  helpers.go
  helpers_test.go
  radix/radix_test.go
  router_radix_test.go
Labels: codex

#3593 🧹 chore: Add radix variants of router tests
  middleware/idempotency/locker_test.go
  router_radix_bench_test.go
  router_radix_test.go
Labels: 🧹 Updates, v3, codex

#3600 Improve static path security
  client/client_test.go
  middleware/static/static.go
  middleware/static/static_test.go
Labels: codex

#3599 🐛 bug: Fix handling of negative BodyLimit
  app.go
  app_test.go
  docs/api/fiber.md
Labels: ☢️ Bug, v3, codex

#3598 Refactor CSRF middleware and enhance documentation
  Makefile
  docs/middleware/csrf.md
  docs/whats_new.md
  middleware/csrf/config.go
  middleware/csrf/csrf.go
  middleware/csrf/csrf_test.go
  middleware/csrf/extractors.go
  middleware/csrf/extractors_test.go
  middleware/csrf/token.go
Labels: 📒 Documentation, 🧹 Updates, v3

#3595 🧹 chore: Improve static middleware security
  client/client_test.go
  middleware/static/static.go
  middleware/static/static_test.go
Labels: 🧹 Updates, v3, codex

#3601 [Static]: Improve sanitizePath performance
  app_test.go
  middleware/static/static.go
  middleware/static/static_test.go
Labels: 🧹 Updates, v3

#3603 🐛 bug: Fix MIME type equality checks
  ctx.go
Labels: ☢️ Bug, v2, codex

#3602 🐛 bug: Fix MIME type equality checks
  helpers.go
  helpers_test.go
Labels: ☢️ Bug, v3, codex

#3614 Skip unstable GenericParseType benchmarks
  helpers_test.go
Labels: codex

#3594 Enhance radix tree with generics
  app.go
  ctx.go
  ctx_interface.go
  ctx_interface_gen.go
  radix/radix.go
  radix/radix_test.go
  router.go
  router_radix_test.go
Labels: codex

#3618 🔥 feat: Support for disabling response headers in Limiter Middleware
  docs/middleware/limiter.md
  middleware/limiter/config.go
  middleware/limiter/limiter_fixed.go
  middleware/limiter/limiter_sliding.go
  middleware/limiter/limiter_test.go
Labels: ✏️ Feature, codex

#3620 🔥 feat: Add HeaderLimit option to BasicAuth middleware
  docs/middleware/basicauth.md
  docs/whats_new.md
  middleware/basicauth/basicauth.go
  middleware/basicauth/basicauth_test.go
  middleware/basicauth/config.go
Labels: ✏️ Feature, v3, codex

#3628 Fix timing for streaming test
  ctx_test.go
Labels: 🧹 Updates, codex

#3625 feat(middleware/session): Introduce Extractor pattern for session ID retrieval
  docs/middleware/session.md
  docs/whats_new.md
  middleware/csrf/csrf_test.go
  middleware/session/config.go
  middleware/session/config_test.go
  middleware/session/extractors.go
  middleware/session/extractors_test.go
  middleware/session/middleware.go
  middleware/session/middleware_test.go
  middleware/session/session.go
  middleware/session/session_test.go
  middleware/session/store.go
  middleware/session/store_test.go
Labels: ✏️ Feature, v3

#3533 🔥 feat: Add support for embedded Koa-Style Req and Res structs
  AGENTS.md
  Makefile
  ctx.go
  ctx_interface.go
  ctx_interface_gen.go
  ctx_test.go
  req.go
  req_interface_gen.go
  res.go
  res_interface_gen.go
Labels: ✏️ Feature, v3
